// {{- $work := has "work" (get . "roles" | default list) }}
{
  "[ansible]": {
    "editor.tabSize": 2
  },
  "[bazel]": {
    "editor.formatOnSave": false
  },
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[elixir]": {
    "editor.defaultFormatter": "JakeBecker.elixir-ls"
  },
  "[graphql]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[html]": {
    "editor.defaultFormatter": "HookyQR.beautify"
  },
  "[javascript]": {
    "editor.defaultFormatter": "biomejs.biome"
  },
  "[javascriptreact]": {
    "editor.defaultFormatter": "biomejs.biome"
  },
  "[json]": {
    "editor.defaultFormatter": "biomejs.biome"
  },
  "[jsonc]": {
    "editor.defaultFormatter": "vscode.json-language-features"
  },
  "[markdown]": {
    "editor.defaultFormatter": "denoland.vscode-deno"
  },
  "[rust]": {
    "editor.defaultFormatter": "statiolake.vscode-rustfmt"
  },
  "[typescript]": {
    "editor.defaultFormatter": "biomejs.biome"
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "biomejs.biome"
  },
  "[vue]": {
    "editor.defaultFormatter": "octref.vetur"
  },
  "[xml]": {
    "editor.defaultFormatter": "DotJoshJohnson.xml"
  },
  "[xslt]": {
    "editor.semanticHighlighting.enabled": true
  },
  "[yaml]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "accessibility.verbosity.inlineChat": false,
  "accessibility.verbosity.panelChat": false,
  "biome.suggestInstallingGlobally": false,
  "breadcrumbs.enabled": true,
  "breadcrumbs.filePath": "off",
  "chat.commandCenter.enabled": false,
  "chat.extensionTools.enabled": false,
  "chat.focusWindowOnConfirmation": false,
  "chat.detectParticipant.enabled": false,
  "chat.editing.confirmEditRequestRemoval": false,
  "chat.editing.confirmEditRequestRetry": false,
  "chat.edits2.enabled": false,
  "chat.mcp.enabled": false,
  "chat.mcp.access": "none",
  "chat.promptFiles": false,
  "chat.unifiedChatView": false,
  "chat.useFileStorage": false,
  "cSpell.enableFiletypes": [
    "liquid"
  ],
  "cSpell.enabledLanguageIds": [
    "asciidoc",
    "c",
    "cpp",
    "csharp",
    "css",
    "git-commit",
    "go",
    "graphql",
    "handlebars",
    "haskell",
    "html",
    "jade",
    "java",
    "javascript",
    "javascriptreact",
    "json",
    "jsonc",
    "latex",
    "less",
    "markdown",
    "php",
    "plaintext",
    "python",
    "pug",
    "restructuredtext",
    "rust",
    "scala",
    "scss",
    "text",
    "typescript",
    "typescriptreact",
    "yaml",
    "yml",
    "elixir",
    "erlang"
  ],
  "cSpell.userWords": [
    "behaviour",
    "behaviours",
    "CSRF",
    "favourite",
    "favourited",
    "geolocation",
    "halostatue",
    "Licence"
  ],
  "debug.javascript.autoAttachFilter": "smart",
  "editor.accessibilitySupport": "off",
  "editor.bracketPairColorization.enabled": true,
  "editor.cursorBlinking": "phase",
  "editor.cursorSmoothCaretAnimation": "on",
  "editor.cursorSurroundingLines": 5,
  "editor.fontFamily": "JetBrains Mono NL, JetBrains Mono, IBM PlexMono, JetBrains Mono, Rec Mono Duotone, Fira Code, Iosevka,  Menlo, Monaco, monospace",
  "editor.fontLigatures": "'dlig'",
  "editor.fontSize": 12,
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true,
  "editor.lineNumbers": "relative",
  "editor.linkedEditing": true,
  "editor.minimap.enabled": false,
  "editor.minimap.maxColumn": 50,
  "editor.rulers": [
    80,
    100
  ],
  "editor.suggestSelection": "first",
  "editor.tabSize": 2,
  "editor.tokenColorCustomizations": {
    "textMateRules": [
      {
        "scope": "comment",
        "settings": {
          "fontStyle": "italic"
        }
      },
      {
        "scope": "variable.key.table",
        "settings": {
          "foreground": "#4EC9B0"
        }
      },
      {
        "scope": "variable.key.array",
        "settings": {
          "foreground": "#569CD6"
        }
      },
      {
        "scope": "constant.other.time",
        "settings": {
          "foreground": "#DCDCAA"
        }
      }
    ]
  },
  "elixir.credo.credoConfiguration": "vscode",
  "elixirLS.enableTestLenses": true,
  "emmet.excludeLanguages": [
    "markdown",
    "typescriptreact",
    "typescript"
  ],
  "emmet.includeLanguages": {
    "vue-html": "html"
  },
  "emmet.showAbbreviationSuggestions": true,
  "eslint.alwaysShowStatus": true,
  "eslint.codeActionsOnSave.rules": [
    "unused-imports/no-unused-imports"
  ],
  "eslint.format.enable": true,
  "eslint.run": "onSave",
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "explorer.openEditors.visible": 0,
  "extensions.experimental.affinity": {
    "asvetliakov.vscode-neovim": 1
  },
  "extensiontotal.apiKeySetting": "{{ onepasswordRead "op://p3tdvhvmmhy4p2mlyyrlvdv3tu/yg2ov2pdezkdqflwvto3mk5aya/credential" .op.personal }}",
  "files.associations": {
    "*.env": "properties"
  },
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "files.watcherExclude": {
    "**/_build/**": true,
    "**/deps/**": true
  },
  "git.allowForcePush": true,
  "git.alwaysSignOff": true,
  "git.autoStash": true,
  "git.confirmForcePush": false,
  "git.detectSubmodulesLimit": 20,
  "git.fetchOnPull": true,
  "git.openRepositoryInParentFolders": "never",
  "git.path": "/opt/local/bin/git",
  "git.pruneOnFetch": true,
  "git.rebaseWhenSync": true,
  "git.supportCancellation": true,
  "github-actions.org-features": true,
  "github.customPullRequestDescription": "gitEditor",
  "github.gitCommand": "/opt/local/bin/git",
  "github.preferedMergeMethod": "rebase",
  "githubPullRequests.defaultMergeMethod": "rebase",
  "githubPullRequests.telemetry.enabled": false,
  "gitlens.advanced.telemetry.enabled": false,
  "gitlens.blame.highlight.locations": [
    "gutter",
    "overview"
  ],
  "gitlens.views.compare.location": "gitlens",
  "gitlens.views.fileHistory.location": "explorer",
  "gitlens.views.lineHistory.location": "explorer",
  "gitlens.views.repositories.location": "scm",
  "gitlens.views.search.location": "gitlens",
  "go.toolsManagement.autoUpdate": true,
  "go.useLanguageServer": true,
  "importSorter.generalConfiguration.sortOnBeforeSave": true,
  "importSorter.importStringConfiguration.quoteMark": "single",
  "inlineChat.holdToSpeech": false,
  "javascript.format.enable": false,
  "javascript.updateImportsOnFileMove.enabled": "always",
  "json.schemas": [],
  "liveshare.authenticationProvider": "GitHub",
  "lldb.suppressUpdateNotifications": true,
  "markdown.extension.toc.levels": "2..2",
  "markdown.extension.toc.updateOnSave": false,
  "openInGitHub.defaultBranch": "main",
  "notebook.experimental.generate": false,
  "pgFormatter.formatType": true,
  "pgFormatter.wrapLimit": 90,
  "prettier.requireConfig": true,
  "redhat.telemetry.enabled": false,
  "ruby.format": "standardrb",
  "ruby.lint": {
    "debride": false,
    "fasterer": true,
    "reek": false,
    "rubocop": false,
    "ruby": true,
    "ruby-lint": false,
    "standard": true
  },
  "rust-analyzer.callInfo.full": false,
  "rust-analyzer.checkOnSave.command": "clippy",
  "rust-analyzer.imports.granularity.group": "none",
  "rust-analyzer.inlayHints.parameterHints.enable": false,
  "rust-analyzer.updates.askBeforeDownload": false,
  "rust-client.engine": "rust-analyzer",
  "rust.clippy_preference": "on",
  "search.exclude": {
    "**/_build": true,
    "**/deps": true
  },
  "search.showLineNumbers": true,
  "search.smartCase": true,
  "search.useGlobalIgnoreFiles": true,
  "shellcheck.executablePath": "/opt/local/bin/shellcheck",
  "telemetry.enableCrashReporter": false,
  "telemetry.enableTelemetry": false,
  "telemetry.feedback.enabled": false,
  "telemetry.telemetryLevel": "off",
  "terminal.integrated.defaultProfile.osx": "fish",
  "typescript.format.enable": false,
  "typescript.surveys.enabled": false,
  "typescript.updateImportsOnFileMove.enabled": "always",
  "vim.camelCaseMotion.enable": true,
  "vim.easymotion": true,
  "vim.hlsearch": true,
  "vim.incsearch": true,
  "vim.leader": "<space>",
  "vim.normalModeKeyBindingsNonRecursive": [
    {
      "before": [
        "g",
        "r"
      ],
      "commands": [
        "editor.action.goToReferences"
      ]
    }
  ],
  "vim.sneak": true,
  "vim.sneakUseIgnorecaseAndSmartcase": true,
  "vim.useSystemClipboard": true,
  "vscode-neovim.neovimExecutablePaths.darwin": "/opt/local/bin/nvim",
  "vsicons.dontShowNewVersionMessage": true,
  "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
  "webhint.enableTelemetry": "enabled",
  "window.closeWhenEmpty": true,
  "workbench.editor.enablePreview": false,
  "workbench.editor.enablePreviewFromQuickOpen": false,
  "workbench.editor.splitSizing": "split",
  "workbench.editor.tabCloseButton": "left",
  "workbench.editorAssociations": {
    "*.ipynb": "jupyter.notebook.ipynb"
  },
  "workbench.fontAliasing": "auto",
  "workbench.iconTheme": "vscode-icons",
  "workbench.settings.useSplitJSON": true,
  "workbench.sideBar.location": "right",
  "workbench.startupEditor": "newUntitledFile",
  "yaml.customTags": [
    "!And",
    "!And sequence",
    "!If",
    "!If sequence",
    "!Not",
    "!Not sequence",
    "!Equals",
    "!Equals sequence",
    "!Or",
    "!Or sequence",
    "!FindInMap",
    "!FindInMap sequence",
    "!Base64",
    "!Join",
    "!Join sequence",
    "!Cidr",
    "!Ref",
    "!Sub",
    "!Sub sequence",
    "!GetAtt",
    "!GetAZs",
    "!ImportValue",
    "!ImportValue sequence",
    "!Select",
    "!Select sequence",
    "!Split",
    "!Split sequence"
  ],
  "zeplin.enableTelemetry": false,
  "XSLT.tasks.saxonJar": "~/.local/share/SaxonHE10-8J/saxon-he-10.8.jar",
  "workbench.editor.empty.hint": "hidden",
  "workbench.editor.tabActionLocation": "left",
  "zig.zls.enabled": "on",
{{ if $work }}
  "openapi.platformUrl": "https://platform.42crunch.com",
  "openapi.platformAuthType": "anond-token",
  "openapi.securityAuditToken": "{{ onepasswordRead "op://xlol453p46nfdqodyw62qzk63m/jd6yf6nuqtmhrz63i7gabqdm2i/credential" .op.personal }}",
  "openapi.platformServices": "",
  "openapi.platformScandManager": {
    "url": "",
    "auth": "none",
    "timeout": 300,
    "header": {
      "name": "",
      "value": ""
    }
  },
  "openapi.docker": {
    "replaceLocalhost": true,
    "useHostNetwork": true
  },
  "openapi.platformAuditRuntime": "platform",
  "openapi.platformConformanceScanRuntime": "cli",
  "openapi.platformConformanceScanImage": "42crunch/scand-agent:v2",
  "openapi.platformRepository": "https://repo.42crunch.com/downloads",
  "openapi.cliDirectoryOverride": "",
  "openapi.platformTemporaryCollectionName": "IDE Temp Collection",
  "openapi.platformMandatoryTags": "",
  "openapi.internalFeatures": false,
  "openapi.internalUseDevEndpoints": false,
  "openapi.approvedHostnames": [],
{{ end }}
}
