<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<array>
		<string>Development</string>
		<string>Entertainment</string>
		<string>Internet</string>
		<string>Productivity</string>
		<string>Tools</string>
	</array>
	<key>defaultCreatedBy</key>
	<string>Austin Ziegler</string>
	<key>defaultWebsite</key>
	<string>http://www.halostatue.ca/</string>
</dict>
</plist>
