{{- if kindIs "map" (dig "ruby" "rubygems" "apikey" "" .) -}}
{{-   $e := .ruby.rubygems.apikey -}}
{{-   $v := (onepasswordDetailsFields $e.name $e.vault $e.account) -}}
---
:rubygems_api_key: {{ $v.credential.value | quote }}
{{- end }}
