{{- $v := dig "rubygems" "geminabox" nil (includeTemplate "1password_api_credentials.tmpl" . | fromJson) -}}
{{- if $v -}}
---
:host: "https://{{ $v.username.value }}:{{ $v.credential.value }}@{{ $v.hostname.value }}/"
{{- end }}
