{{- if kindIs "map" (dig "ruby" "rubygems" "geminabox" "" .) -}}
{{-   $e := .ruby.rubygems.geminabox }}
{{-   $v := (onepasswordDetailsFields $e.name $e.vault $e.account) -}}
---
:host: "https://{{ $v.username.value }}:{{ $v.credential.value }}@{{ $v.hostname.value }}/"
{{- end }}
