{{- if kindIs "map" (dig "github" "tokens" "github_gh" "" .) -}}
{{-   $e := .github.tokens.github_gh -}}
{{-   $v := (onepasswordDetailsFields $e.name $e.vault $e.account) -}}
---
github.com:
  user: {{ $v.username.value | quote }}
  oauth_token: {{ $v.credential.value | quote }}
  git_protocol: ssh
{{- end }}
