#!/usr/bin/env ruby

def add_if_missing(input, pattern, line)
  unless input.find { |r| r =~ pattern }
    input << line << "\n"
  end
end

input = STDIN.readlines

{{ if kindIs "map" (dig "github" "tokens" "vim_rhubarb" "" .) -}}
{{-   $e := .github.tokens.vim_rhubarb }}
{{-   $v := (onepasswordDetailsFields $e.name $e.vault $e.account) -}}
add_if_missing(
  input,
  /machine api.github.com login {{ $v.username.value }}/,
  'machine api.github.com login {{ $v.username.value }} password {{ $v.credential.value }}'
)
{{- end }}

puts input.join
