[advice]
  statusHints = false
	skippedCherryPicks = false

[help]
  autocorrect = 5

[apply]
  whitespace = nowarn

[branch]
  autosetuprebase = always

[color]
  branch = auto
  diff = auto
  pager = true
  status = auto
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow bold
  remote = green bold
  plain = red bold

[color "status"]
  added = green
  changed = yellow bold
  untracked = white bold

[commit]
  cleanup = scissors
  verbose = true
{{- if stat (joinPath .chezmoi.homeDir ".config/git/commit-message") }}
  template = {{ joinPath .chezmoi.homeDir ".config/git/commit-message" }}
{{- end }}

[core]
  abbrev = 12
  autocrlf = input
  compression = -1
  editor = vim
  precomposeUnicode = true
  safecrlf = true
  whitespace = trailing-space,tab-in-indent,cr-at-eol,space-before-tab
{{- if stat (joinPath .chezmoi.homeDir ".config/git/attributes" )}}
  attributesFile = {{ joinPath .chezmoi.homeDir ".config/git/attributes" }}
{{- end }}
{{- if stat (joinPath .chezmoi.homeDir ".config/git/ignore") }}
  excludesFile = {{ joinPath .chezmoi.homeDir ".config/git/ignore" }}
{{- end }}
{{- if lookPath "delta" }}
  pager = delta
{{- else if lookPath "diff-so-fancy" -}}
  pager = "diff-so-fancy | less --tabs=4 -RFX"
{{- end }}

[feature]
  manyFiles = true

[fetch]
  recurseSubmodules = on-demand
  prune = true

[format]
  pretty = %C(yellow)%h%C(reset) %C(red)%ad%C(reset) | %s%d %C(green)[%aN]%C(reset)
  signOff = true

[pretty]
	simple-oneline = "%C(yellow)%h%C(auto)%d %s <%C(green)%aN%C(reset)> (%C(blue)%ar%C(reset))"

[gc]
  reflogexpire = 300
  reflogexpireunreachable = 90

{{ if ne (dig "github" "user" "<missing>" .) "<missing>" -}}
[github]
  user = {{ .github.user }}
{{- end }}

[grep]
  extendRegexp = true
  lineNumber = true

[log]
  date = short
  decorate = auto
  showSignature = false

[pack]
  # Autodetect thread count
  threads = 0
  writeReverseIndex = true
  useSparse = true

[pager]
  # User a pager for `difftool`
  difftool = true

[pull]
  ff = only
  rebase = true

[push]
  default = simple
  followTags = true

[rebase]
  autosquash = true
  autostash = true
  missingCommitCheck = true

[credential]
  helper = cache --timeout=3600

[stash]
  # Show the patch with `git stash show`
  showPatch = true

[status]
  submoduleSummary = true

[submodule]
  fetchJobs = 0

[tag]
  sort = version:refname

[versionsort]
  suffix = ""
  suffix = "-rc"
  suffix = "-pre"

# URL shorthands
[url "git@github.com:"]
  insteadOf = "gh:"
[url "git@gist.github.com:"]
  insteadOf = "gist:"
[url "git@bitbucket.org:"]
  insteadOf = "bb:"

[user]
  # Don’t guess. Always use config. Override user.* defaults in the repo config
  useConfigOnly = true
  name = {{ .name }}
  email = {{ .email }}

[web]
{{ if lookPath "xdg-open" }}
  browser = xdg-open
{{ end }}
{{ if lookPath "open" }}
  browser = open
{{ end }}

[browser "gitscm"]
  cmd = sh -c 'open http://git-scm.com/docs/$(basename $1 .html)' --

[init]
  defaultBranch = main

[rerere]
  enabled = true

[hub]
  protocol = ssh

[sendemail]
	annotate = true
	confirm = always
	thread = true
	supersscc = self

[include]
  path = ~/.config/git/aliases

[include]
  path = ~/.config/git/diff-merge

[include]
  path = ~/.config/git/signatures

# vim: ft=gitconfig syntax=gitconfig
