[advice]
  statusHints = false
	skippedCherryPicks = false

[apply]
  whitespace = nowarn

[branch]
  autosetuprebase = always

[color]
  branch = auto
  diff = auto
  pager = true
  status = auto
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow bold
  remote = green bold
  plain = red bold

[color "status"]
  added = green
  changed = yellow bold
  untracked = white bold

[commit]
{{- if stat (joinPath .chezmoi.homeDir ".config/git/commit-message") }}
  template = {{ joinPath .chezmoi.homeDir ".config/git/commit-message" }}
{{- end }}

[core]
  abbrev = 12
{{- if stat (joinPath .chezmoi.homeDir ".gitattributes" )}}
  attributesFile = {{ joinPath .chezmoi.homeDir ".gitattributes" }}
{{- end }}
  autocrlf = input
  compression = -1
{{- if lookPath "nvim" }}
  editor = nvim
{{- else -}}
  editor = vim
{{- end }}
{{- if stat (joinPath .chezmoi.homeDir ".gitignore") }}
  excludesFile = {{ joinPath .chezmoi.homeDir ".gitignore" }}
{{- end }}
{{- if lookPath "delta" }}
  pager = delta
{{- else if lookPath "diff-so-fancy" -}}
  pager = diff-so-fancy | less --tabs=4 -RFX
{{- end }}
  precomposeUnicode = true
  safecrlf = true
  whitespace = trailing-space,tab-in-indent,cr-at-eol,space-before-tab

[feature]
  manyFiles = true

[fetch]
  recurseSubmodules = on-demand

[format]
  pretty = %C(yellow)%h%C(reset) %C(red)%ad%C(reset) | %s%d %C(green)[%aN]%C(reset)

[gc]
  reflogexpire = 300
  reflogexpireunreachable = 90

{{ if ne (dig "github" "user" "<missing>" .) "<missing>" -}}
[github]
  user = {{ .github.user }}
{{- end }}

[grep]
  extendRegexp = true
  lineNumber = true

[log]
  date = short
  decorate = auto
  showSignature = false

[pack]
  # Autodetect thread count
  threads = 0
  writeReverseIndex = true

[pager]
  # User a pager for `difftool`
  difftool = true

[pull]
  ff = only
  rebase = true

[push]
  default = simple
  followTags = true

[rebase]
  # Remove merge commits during a rebase
  autosquash = true
  # Rebase cleanly by stashing then unstashing
  autostash = true
  # Increase safety of `git rebase -i`
  missingCommitCheck = true

[stash]
  # Show the patch with `git stash show`
  showPatch = true

[status]
  submoduleSummary = true

[submodule]
  fetchJobs = 0

[tag]
  forceSignAnnotated = true

# URL shorthands
[url "git@github.com:"]
  insteadOf = "gh:"
[url "git@gist.github.com:"]
  insteadOf = "gist:"
[url "git@bitbucket.org:"]
  insteadOf = "bb:"

[user]
  # Don’t guess. Always use config. Override user.* defaults in the repo config
  useConfigOnly = true
  name = {{ .name }}
  email = {{ .email }}

[web]
{{ if lookPath "xdg-open" }}
  browser = xdg-open
{{ end }}
{{ if lookPath "open" }}
  browser = open
{{ end }}

[browser "gitscm"]
  cmd = sh -c 'open http://git-scm.com/docs/$(basename $1 .html)' --

[init]
  defaultBranch = main

[rerere]
  enabled = true

[include]
  path = ~/.config/git/aliases

[include]
  path = ~/.config/git/diff-merge

[include]
  path = ~/.config/git/signatures

# vim: ft=gitconfig syntax=gitconfig
