#!/usr/bin/env bash

# Install Rosetta on an Apple Silicon mac
{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) -}}

{{ if not (stat ("/Library/Apple/usr/share/rosetta/rosetta")) -}}
softwareupdate --install-rosetta --agree-to-license
{{ end -}}

license="$(defaults read /Library/Preferences/com.apple.dt.Xcode | awk '/IDELastGMLicenseAgreedTo/ { print $3; }' | sed 's/;//')"
if [[ -z "${license}" ]]; then
  sudo xcodebuild -license
else
  true
fi

if [[ -z "$(xcode-select --print-path)" ]]; then
  xcode-select --install
else
  true
fi
{{- end }}
