#!/usr/bin/env bash

set -euo pipefail

case "${CHEZMOI_SKIP_SCRIPTS:-}" in
*install-homebrew-packages* | true | '*' | 1) exit ;;
esac

case "$(uname -s)" in
Darwin)
  if ! command -v brew >/dev/null 2>&1; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    case "$(uname -m)" in
    arm64) HOMEBREW_PREFIX="/opt/homebrew" ;;
    *) HOMEBREW_PREFIX="/usr/local" ;;
    esac

    eval "$(${HOMEBREW_PREFIX}/bin/brew shellenv)"
  fi

  HOMEBREW_CASK_OPTS=--no-quarantine brew bundle --file "{{ .chezmoi.sourceDir }}/Setup/Brewfile"
  ;;
esac
