{{- $result := dict -}}
{{- if and (hasKey . "tokens") .tokens -}}
{{-   range $group, $token_refs := .tokens -}}
{{-     $current := dict -}}
{{-     range $name, $ref := $token_refs -}}
{{-       $value := (onepasswordDetailsFields $ref.name $ref.vault $ref.account) -}}
{{-       $_ := set $current $name $value -}}
{{-     end -}}
{{-     $_ := set $result $group $current -}}
{{-   end -}}
{{- end -}}
{{- $result | toJson -}}
