{{- $account_vaults := includeTemplate "1password_vaults.tmpl" . | fromJson -}}
{{- $identities := dict }}
{{- range $account_name, $account := $account_vaults -}}
{{-   $vaults := $account.vaults -}}
{{-   $documents :=
        output "op" "document" "list" "--account" $account.url "--format" "json"
        | fromJson
        | jq "map(select(.title | startswith(\"git-identities: \"))) | sort_by(.title)"
        | first
-}}
{{-   $a_ids := dict }}
{{-   range $document := $documents -}}
{{-     $name := $document.title | trimPrefix "git-identities: " | trimSuffix ".yml" -}}
{{-     $data := onepasswordDocument $document.id $document.vault.id $account.url | fromYaml -}}
{{-     $key := onepasswordRead $data.key $account.url -}}
{{-     $data = merge $data (dict "key" $key) -}}
{{-     $doc := toYaml $data -}}
{{-     $id := dict
          "account"   $account.url
          "sha256sum" (sha256sum $doc)
          "file"      $doc
          "data"      $data
-}}
{{-     $a_ids = merge $a_ids (dict $name $id) -}}
{{-   end -}}
{{-   $identities = merge $identities (dict $account_name $a_ids) -}}
{{- end -}}
{{- toJson $identities -}}
