{{/*
   * Look for document objects in 1Password and filter them based on various options.
   *
   * Required parameters:
   *
   * - account: The 1Password account URL (`$account.url`).
   * - startswith: The string to match against for filtering.
   *
   * Optional parameters:
   *
   * - tags: The list of tags to use for filtering as an intersection.
   */}}
{{- $account := .account -}}
{{- $name_filter := printf "map(select(.title | startswith(\"%s\")))" .startswith -}}
{{- $tag_filter := get . "tags" -}}
{{- if kindIs "string" $tag_filter }}{{ $tag_filter = list $tag_filter }}{{ end -}}
{{- if kindIs "slice" $tag_filter -}}{{ $tag_filter = toJson $tag_filter }}{{ end -}}
{{- $documents := output "op" "document" "list" "--account" $account "--format" "json" -}}
{{- $documents = fromJson $documents | jq $name_filter | first -}}
{{- if $tag_filter -}}
{{-   $tag_filter = printf "map(select((.tags // []) as $tags | $tags - ($tags - %s) | length > 0))" $tag_filter -}}
{{-   $documents = $documents | jq $tag_filter | first -}}
{{- end -}}
{{- jq "sort_by(.title)" $documents | first | toJson -}}
