{{/* vim: ft=chezmoitmpl */}}
{{-
  $found := index (
    output "op" "account" "list" "--format" "json"
    | fromJson
    | jq "map({ ((.url | split(\".\"))[0]) : . }) | add"
  ) 0
-}}
{{- $accounts := dict -}}
{{/* Only include accounts that are defined in `.onepassword`. */}}
{{- range $_, $name := .onepassword -}}
{{-   $accounts = merge $accounts (pick $found $name) -}}
{{- end -}}
{{- toJson $accounts -}}
