{{/* vim: ft=chezmoitmpl */}}
{{- $accounts := includeTemplate "1password_accounts.tmpl" | fromJson -}}
{{- range $url, $account := $accounts -}}
{{-
      $vaults := index (
        output "op" "vault" "list" "--account" $url "--format" "json"
        | fromJson
        | jq "map({ (.id): . }) | add"
      ) 0
-}}
{{-   $account = set $account "vaults" $vaults -}}
{{- end -}}
{{- $accounts | toJson }}
