{{- $account_vaults := dict -}}
{{- range $url, $_account := (includeTemplate "1password_accounts.tmpl" . | fromJson) -}}
{{-   $vaults := (output "op" "vault" "list" "--account" $url "--format" "json" | fromJson) -}}
{{-   $vaults = $vaults | jq "map({ (.id): . }) | add" -}}
{{-   $account_vaults = set $account_vaults $url (index $vaults 0) -}}
{{- end -}}
{{- $account_vaults | toJson }}
