{{- dict
       "alacritty" (lookPath "alacritty")
       "antiword" (lookPath "antiword")
       "bat" (lookPath "bat")
       "catdoc" (lookPath "catdoc")
       "catppt" (lookPath "catppt")
       "delta" (lookPath "delta")
       "diff_so_fancy" (lookPath "diff-so-fancy")
       "difftastic" (lookPath "difft")
       "djvutxt" (lookPath "djvutxt")
       "docx2txt" (lookPath "docx2txt.pl")
       "exiftool" (lookPath "exiftool")
       "fzf" (lookPath "fzf")
       "gvim" (lookPath "gvim")
       "interactive_rebase_tool" (lookPath "interactive-rebase-tool")
       "icdiff" (lookPath "icdiff")
       "in2csv" (lookPath "in2csv")
       "ksdiff" (lookPath "ksdiff")
       "mvim" (lookPath "mvim")
       "macos_open" (lookPath "open")
       "odt2txt" (lookPath "odt2txt")
       "pandoc" (lookPath "pandoc")
       "pdfinfo" (lookPath "pdfinfo")
       "pdftotext" (lookPath "pdftotext")
       "pinentry_mac" (lookPath "pinentry-mac")
       "pptx2md" (lookPath "pptx2md")
       "ssh_chain" (lookPath "ssh-chain")
       "soffice" (lookPath "soffice")
       "tika" (lookPath "tika")
       "unrtf" (lookPath "unrtf")
       "vim" (lookPath "vim")
       "wvText" (lookPath "wvText")
       "xdg_open" (lookPath "xdg-open")
       "xlscat" (lookPath "xlscat")
       "xlsx2csv" (lookPath "xlsx2csv")
       "xlsx2csvPy" (lookPath "xlsx2csv.py")
  | toJson -}}
