#! /bin/bash
# chezmoi:template:left-delimiter="# [[" right-delimiter="]]"

# See https://docs.brew.sh/Manpage#environment for possible values.

if command -v bat >/dev/null 2>/dev/null; then
  export HOMEBREW_BAT=1
fi

export HOMEBREW_DISPLAY_INSTALL_TIMES=1

# [[  $credentials := includeTemplate "1password_api_credentials.tmpl" . | fromJson -]]
# [[- $v := dig "github" "homebrew_api" nil $credentials -]]
# [[- if $v -]]
export HOMEBREW_GITHUB_API_TOKEN=# [[ $v.credential.value | quote ]]
# [[-   end ]]

# [[- $v := dig "github" "homebrew_packages" nil $credentials -]]
# [[- if $v -]]
export HOMEBREW_GITHUB_PACKAGES_TOKEN=# [[ $v.credential.value | quote ]]
export HOMEBREW_GITHUB_PACKAGES_USER=# [[ $v.username.value | quote ]]
# [[- end ]]

# export HOMEBREW_NO_ANALYTICS=1
# export HOMEBREW_NO_AUTO_UPDATE=1
# export HOMEBREW_NO_GITHUB_API=1

export HOMEBREW_NO_INSECURE_REDIRECT=1
