#! /usr/bin/env fish
# chezmoi:template:left-delimiter="# [[" right-delimiter="]]"

# See https://docs.brew.sh/Manpage#environment

if command --query bat
    set --global --export HOMEBREW_BAT 1
end

set --global --export HOMEBREW_GITHUB_API_TOKEN # [[
onepasswordRead "op://Personal/homebrew-github-api/credential" .onepassword.personal
    | quote
]]
set --global --export HOMEBREW_DISPLAY_INSTALL_TIMES 1
set --global --export HOMEBREW_NO_ANALYTICS 1
set --global --export HOMEBREW_NO_INSECURE_REDIRECT 1

# set --global --export HOMEBREW_NO_AUTO_UPDATE 1
# set --global --export HOMEBREW_NO_GITHUB_API 1
