#! /bin/bash
# chezmoi:template:left-delimiter="# [[" right-delimiter="]]"

# See https://docs.brew.sh/Manpage#environment for possible values.

if command -v bat >/dev/null 2>/dev/null; then
  export HOMEBREW_BAT=1
fi

export HOMEBREW_GITHUB_API_TOKEN=# [[
  onepasswordRead "op://Personal/homebrew-github-api/credential" .onepassword.personal
  | quote
]]
export HOMEBREW_DISPLAY_INSTALL_TIMES=1
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_INSECURE_REDIRECT=1

# export HOMEBREW_NO_AUTO_UPDATE=1
# export HOMEBREW_NO_GITHUB_API=1
