{{- $email := promptStringOnce . "email" "Email" -}}
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $github_username := promptStringOnce . "github.user" "Github Username" -}}
{{- $personal_1password_account := promptStringOnce . "onepassword.personal" "1Password Personal Account" -}}
{{- $work_1password_account := promptStringOnce . "onepassword.work" "1Password Work Account" -}}
{{- $ssh_agent := promptChoiceOnce . "ssh.agent" "What SSH agent to use?" (list "1Password" "secretive" "ssh-agent") -}}

[scriptEnv]
DEBUG_SCRIPTS = {{ if .debug_scripts }}'true'{{ else }}'false'{{ end }}

[add]
secrets = 'error'

[data]
email = {{ $email | toToml }}
name = {{ $name | toToml }}

debug_scripts = {{ if .debug_scripts }}true{{ else }}false{{ end }}

[data.onepassword]
personal = {{ $personal_1password_account | toToml }}
work = {{ $work_1password_account | toToml }}

{{ if (. | dig "git" "signing" false) -}}
[data.git.signing]
{{ .git.signing | toToml }}
{{- else -}}
## Git supports GPG or SSH-based key-signing. If using SSH key signing, set format to
## 'ssh', and either specify the key *path* or the special key string 'key::ssh-TYPE
## VALUE IDENTITY'.
# [data.git.signing]
# format = 'ssh'
# key = 'key::ssh-TYPE VALUE IDENTITY'
{{- end }}

[data.github]
user = {{ $github_username | toToml }}

[data.ruby.hoe]
email = {{ $email | toToml }}

[data.ruby.rubygems]
user = {{ $email | toToml }}

{{ if (hasKey . "gnupg") -}}
[data.gnupg]
default_key = {{ .gnupg.default_key | toToml }}
{{- else -}}
## If using GPG, set the default key here.
##
# [data.gnupg]
# default_key = ''
{{- end }}

[data.ssh]
agent = {{ $ssh_agent | toToml }}
{{ if (. | dig "ssh" "updatable_hosts" false) -}}
updatable_hosts = {{ .ssh.updatable_hosts | toToml }}
{{- else -}}
updatable_hosts = []
{{- end }}

[diff]
exclude = ['scripts']
