{{ if regexMatch "py312-awscli2 " (output "port" "echo" "active") }}
.local/bin/aws
.local/bin/aws-cli-session-manager
.local/bin/aws_completer
{{ end }}

{{ $finickyVersion := includeTemplate "app_version" "/Applications/Finicky.app" }}
{{ if semverCompare "3.x" $finickyVersion }}
.finicky.ts
{{ else if semverCompare "4.x" $finickyVersion }}
.finicky.js
{{ end }}
