# chezmoi:template:left-delimiter="# (:" right-delimiter=":)"
# (:- $programs := includeTemplate "programs.tmpl" . | fromJson -:)

.vim/pack/plugins/opt/chezmoi.vim:
  pull:
    args:
      - --ff-only
  refreshPeriod: 168h
  type: git-repo
  url: https://github.com/alker0/chezmoi.vim

# (: if $programs.lf -:)
.config/fish/completions/lf.fish:
  type: archive-file
  url: https://github.com/gokcehan/lf/archive/master.tar.gz
  refreshPeriod: 744h
  path: lf-master/etc/lf.fish

.config/fish/functions/lfcd.fish:
  type: archive-file
  url: https://github.com/gokcehan/lf/archive/master.tar.gz
  refreshPeriod: 744h
  path: lf-master/etc/lfcd.fish
# (:- end :)
