# chezmoi:template:left-delimiter="# [[" right-delimiter="]]"
# [[/* vim: ft=yaml.chezmoitmpl */]]
# [[- $programs := includeTemplate "programs.tmpl" . | fromJson -]]

.vim/pack/plugins/opt/chezmoi.vim:
  pull:
    args:
      - --ff-only
  refreshPeriod: 168h
  type: git-repo
  url: https://github.com/alker0/chezmoi.vim.git

# [[ if or $programs.ghostty (stat "/Applications/Ghostty.app") -]]
.config/ghostty/shaders:
  pull:
    args:
      - --ff-only
  refreshPeriod: 168h
  type: git-repo
  url: https://github.com/m-ahdal/ghostty-shaders.git
# [[- end ]]

ports:
  pull:
    args:
      - --ff-only
  refreshPeriod: 240h # ten days
  type: git-repo
  url: git+ssh://github.com/halostatue/ports.git

.local/bin/battstat:
  refreshPeriod: 168h
  type: file
  executable: true
  url: https://raw.githubusercontent.com/imwally/battstat/refs/heads/master/battstat
