{{- $email := promptStringOnce . "email" "Email" -}}
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $github_username := promptStringOnce . "github.user" "Github Username" -}}
{{- $personal_1password_account := promptStringOnce . "onepassword.personal" "1Password Personal Account" -}}
{{- $work_1password_account := promptStringOnce . "onepassword.work" "1Password Work Account" -}}

[scriptEnv]
DEBUG_SCRIPTS = {{ if .debug_scripts }}"true"{{ else }}"false"{{ end }}

[data]
email = {{ $email | toToml }}
name = {{ $name | toToml }}

debug_scripts = {{ if .debug_scripts }}true{{ else }}false{{ end }}

[data.onepassword]
personal = {{ $personal_1password_account | toToml }}
work = {{ $work_1password_account | toToml }}

{{ if (. | dig "git" "signing" false) -}}
[data.git.signing]
{{ .git.signing | toToml }}
{{- else -}}
## Git supports GPG or SSH-based key-signing. If using SSH key signing, set format to
## 'ssh', and either specify the key *path* or the special key string 'key::ssh-TYPE
## VALUE IDENTITY'.
# [data.git.signing]
# format = 'ssh'
# key = 'key::ssh-TYPE VALUE IDENTITY'
{{- end }}

[data.github]
user = {{ $github_username | toToml }}

[data.ruby.hoe]
email = {{ $email | toToml }}

[data.ruby.rubygems]
user = {{ $email | toToml }}

{{ if (hasKey . "gnupg") -}}
[data.gnupg]
default_key = {{ .gnupg.default_key | toToml }}
{{- else -}}
## If using GPG, set the default key here.
##
# [data.gnupg]
# default_key = ''
{{- end }}

{{ if (. | dig "ssh" "keys" false) -}}
{{- range .ssh.keys -}}
[[data.ssh.keys]]
{{ . | toToml }}
{{ end -}}
{{- else -}}
## Set the key names to be used here. These are the private key file names,
## without reference to ~/.ssh
##
[data.ssh]
keys = []
{{- end }}

{{ if (. | dig "ssh" "hosts" false) }}
{{- range .ssh.hosts -}}
[[data.ssh.hosts]]
{{ . | toToml }}
{{ end -}}
{{- else -}}
## Build the SSH configuration file with hosts specified here. In each array entry,
## the 'host' key is the pattern for the `Host …` line. The config array is the list
## of host-specific configuration entries to follow.
##
# [[data.ssh.hosts]]
# config = [
#   'HostName bastion-host-name',
#   'LocalForward localhost:15432 database-host-name:5432',
# ]
# host = 'database-tunnel'
{{- end }}

[diff]
exclude = ['scripts']
