#!/usr/bin/env ruby

def add_if_missing(input, pattern, line)
  unless input.find { |r| r =~ pattern }
    input << line << "\n"
  end
end

input = STDIN.readlines

{{ $v := dig "github" "vim_rhubarb" nil (includeTemplate "1password_api_credentials.tmpl" . | fromJson) -}}
{{- if $v -}}
add_if_missing(
  input,
  /machine api.github.com login {{ $v.username.value }}/,
  'machine api.github.com login {{ $v.username.value }} password {{ $v.credential.value }}'
)
{{- end }}

puts input.join
