{{- $programs := includeTemplate "programs.tmpl" . | fromJson -}}
# Configure gpg-agent

default-cache-ttl 86400
use-standard-socket
{{ if $programs.pinentry_mac }}pinentry-program {{ $programs.pinentry_mac | quote }}{{ end }}
