# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- $apps := includeTemplate "apps" | fromJson -}}
# shellcheck shell=bash

# Do nothing if not interactive.
[[ $- = *i* ]] || return

# {{ if $apps.kiro_cli -}}
kiro_cli_shell="${HOME}/Library/Application Support/kiro-cli/shell"
builtin source "${kiro_cli_shell}/bashrc.pre.bash"
# {{- end }}

# Load system config first
for init in /etc/bash.bashrc /etc/bashrc; do
  # shellcheck source=/dev/null
  [[ -r "${init}" ]] && builtin source "${init}"
done

shopt -s checkwinsize
shopt -s cmdhist
shopt -s globstar
shopt -s histappend

# Disable ctrl-s and ctrl-q
stty -ixon

if command -v lesspipe >/dev/null 2>/dev/null; then
  # shellcheck disable=SC2312
  eval "$(SHELL=/bin/sh lesspipe)"
fi

function has() {
  if command -v "$1" >/dev/null; then
    return 0
  else
    return 1
  fi
}

# shellcheck source=/dev/null
[[ -r ~/.config/bash/aliases ]] && builtin source ~/.config/bash/aliases

if ! shopt -oq posix; then
  case "$(command -v bash)" in
  /opt/local/bin/bash)
    completion=/opt/local/share/bash-completion/bash_completion
    ;;
  /opt/homebrew/bin/bash)
    completion=/opt/homebrew/share/bash-completion/bash_completion
    ;;
  /usr/local/bin/bash)
    completion=/usr/local/share/bash-completion/bash_completion
    ;;
  *) ;;
  esac

  if [[ -n "${completion}" ]] && [[ -r "${completion}" ]]; then
    # shellcheck source=/dev/null
    builtin source "${completion}"
  fi
fi

# shellcheck source=/dev/null
[[ -f ~/.fzf.bash ]] && builtin source ~/.fzf.bash
# shellcheck source=/dev/null
[[ -f ~/.cargo/env ]] && builtin source ~/.cargo/env

PROMPT_COMMAND='history -a'
HISTSIZE=9000
HISTFILESIZE=${HISTSIZE}
HISTCONTROL="erasedups:ignoreboth"
HISTIGNORE="[ ]*"
HISTTIMEFORMAT='%F %T '

# <$PWD in blue> <Prompt Sign in Yellow> <Rest in default light white>
PS1='\[\e[1;34m\]\w\[\e[m\] \[\e[1;32m\]\$\[\e[m\] '

# {{ if $apps.lm_studio }}
export PATH="${PATH}:/Users/austin/.lmstudio/bin"
# {{- end }}

# {{ if $apps.kiro -}}
# shellcheck source=/dev/null disable=SC2312
[[ "${TERM_PROGRAM:-}" == "kiro" ]] && builtin source "$(kiro --locate-shell-integration-path bash)"
# {{- end }}

# {{ if $apps.kiro_cli -}}
builtin source "${kiro_cli_shell}/bashrc.post.bash"
unset kiro_cli_shell
# {{- end }}

{{/* vim: set ft=bash.chezmoitmpl */}}
