{{- if kindIs "map" (dig "github" "tokens" "github_keystore" "" .) -}}
{{-   $e := .github.tokens.github_keystore -}}
{{-   $v := (onepasswordDetailsFields $e.name $e.vault $e.account) -}}
{{ $v.username.value }}:{{ $v.credential.value }}
{{- end }}
