# General SSH configuration
ForwardAgent yes
HashKnownHosts no
UseRoaming no
ServerAliveCountMax 6
ServerAliveInterval 30
VerifyHostKeyDNS yes

Host *
  UseKeychain yes
  AddKeysToAgent yes
  # ControlMaster auto
  # ControlPath ~/.ssh/sockets/%r@%h-%p
  # ControlPersist 5m

{{ if (lookPath "ssh-chain") }}
Host *^*
  ProxyCommand ssh-chain %h %p
{{ end -}}
{{ if gt ((dig "ssh" "hosts" (list) .) | len) 0 }}{{ range .ssh.hosts }}
Host {{ .host }}{{ range .config }}
  {{ . }}{{ end }}
{{ end }}{{ end -}}
