{{-
$secretive := joinPath $.chezmoi.homeDir "/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh"
-}}
{{-
$1passwordSSH := joinPath $.chezmoi.homeDir "Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
-}}
{{- $ssh := joinPath $.chezmoi.homeDir ".ssh" -}}
# General SSH configuration
ForwardAgent yes
HashKnownHosts no
ServerAliveCountMax 6
ServerAliveInterval 30
VerifyHostKeyDNS yes

Host *
{{- if stat $secretive }}
  IdentityAgent "{{ $secretive }}"{{ end }}
{{- if stat $1passwordSSH }}
  IdentityAgent "{{ $1passwordSSH }}"{{ end }}
  UseKeychain yes
  AddKeysToAgent yes

Host github.com
  UpdateHostKeys yes

{{- if gt (.ssh.keys | len) 0 -}}
  {{ range .ssh.keys -}}
    {{- if stat (joinPath $ssh .) }}
Host *
  IdentityFile {{ joinPath $ssh . }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if (lookPath "ssh-chain") }}Host *^*
  ProxyCommand ssh-chain %h %p{{ end }}

{{- if gt ((dig "ssh" "hosts" (list) .) | len) 0 }}{{ range .ssh.hosts }}
Host {{ .host }}{{ range .config }}
  {{ . }}{{ end }}
{{ end }}{{ end -}}
