[packages]
cargo-audit = { version = "*", locked = true }
cargo-authors = { version = "*", locked = true }
cargo-benchcmp = { version = "*", locked = true }
cargo-binstall = { version = "*", locked = true }
cargo-bump = { version = "*", locked = true }
cargo-clone = { version = "*", locked = true }
cargo-config = { version = "*", locked = true }
cargo-crates = { version = "*", locked = true }
cargo-dist = { version = "*", locked = true }
cargo-do = { version = "*", locked = true }
cargo-edit = { version = "*", locked = true }
cargo-expand = { version = "*", locked = true }
cargo-info = { version = "*", locked = true }
cargo-license = { version = "*", locked = true }
cargo-lichking = { version = "*", locked = true }
cargo-modules = { version = "*", locked = true }
cargo-outdated = { version = "*", locked = true }
cargo-readme = { version = "*", locked = true }
cargo-release = { version = "*", locked = true }
cargo-show = { version = "*", locked = true }
cargo-update = { version = "*", locked = true }
cargo-watch = { version = "*", locked = true }
# macos-defaults = { version = "*", locked = true }
prr = { version = "*", locked = true }
rage = { version = "*", locked = true }
rbase64 = { version = "*", locked = true, features = ["cli"] }
scm-diff-editor = { version = "*", locked = true }
serie = { version = "*", locked = true }
srisum = { version = "*", locked = true }
tidy-viewer = { version = "*", locked = true }

[defaults.ship]
binstall = "auto"
no-fail-fast = true
