[packages]
# Audit Cargo.lock security vulnerabilities
cargo-audit = "*"
# A cargo subcommand that lists all the authors of all dependencies
cargo-authors = { version = "*", locked = true }
# A cargo utility to compare Rust micro-benchmark output
cargo-benchcmp = "*"
# Install a Rust binary... from binaries
cargo-binstall = "*"
# Increments the version number of the current project
cargo-bump = "*"
# A cargo subcommand to fetch the source code of a Rust crate
cargo-clone = { version = "*", locked = true }
# cargo-config reads information from a Cargo.toml file on the command line
cargo-config = "*"
# A cargo command to quickly open the crates.io or docs.rs page
cargo-crates = "*"
# Shippable application packaging for Rust
cargo-dist = "*"
# A Cargo plugin that allows multiple chained commands
cargo-do = "*"
# Extends Cargo to allow adding and removing dependencies
cargo-edit = "*"
# Wrapper around rustc -Zunpretty=expanded
cargo-expand = "*"
# Crate info lookup
cargo-info = "*"
# Cargo subcommand to see license of dependencies
cargo-license = "*"
# Display info about licensing of dependencies
cargo-lichking = "*"
# A cargo plugin to show a tree-like overview of a modules
cargo-modules = "*"
# Cargo subcommand to display when dependencies are out of date
cargo-outdated = "*"
# A cargo subcommand to generate README.md content from doc comments
cargo-readme = "*"
# Cargo subcommand that smooths the release process
cargo-release = "*"
# Prints package metadata like pip show, apt-cache show, npm view, gem query, etc
cargo-show = "*"
# A cargo subcommand to check and apply updates to installed executables
cargo-update = "*"
# Watches over your project source
cargo-watch = "*"
# Mailing list style code reviews for github
prr = "*"
# A simple, secure, and modern encryption tool
rage = "*"
# A fast multi-threaded base64 encoding / decoding library and CLI tool, made in Rust.
rbase64 = { version = "*", all-features = true }
# A UI component to interactively select changes to include in a commit
scm-diff-editor = "*"
# Compute and check subresource integrity digests
srisum = "*"
# CSV file head utility
tidy-viewer = "*"
# Static analysis for GitHub Actions
zizmor = "*"
