{{- if ne (dig "aws" "source" "type" "<missing>" .) "<missing>" -}}
{{- $source := .aws.source -}}
{{- range .aws.credentials }}
{{ printf "# aws-credentials: %v" .name }}

{{ if eq $source.type "1p" -}}
{{ onepasswordDocument (printf "aws-credentials: %v" .name) "" $source.account }}
{{- end -}}
{{- end -}}
{{- end }}
