#!/usr/bin/env bash

# Go package updates should be run whenever the gup package file is updated or once
# a week.
#
# Source: {{ includeTemplate "private_dot_config/gup/gup.conf.tmpl" | sha256sum }}
# Weekly: {{ output "date" "+%V" | trim }}

readonly script_name=run_onchange_after-04-install-gobin.sh.tmpl
readonly lib_bash='{{ joinPath .chezmoi.workingTree "lib/lib.bash" }}'
# shellcheck source=lib/lib.bash
source "${lib_bash}"
setup '04: Install Go Binaries'

if ! has go; then
  warn "go is not installed"
  exit 0
fi

if ! has gup; then
  go install github.com/nao1215/gup@latest
fi

readonly conf='{{ joinPath .chezmoi.homeDir ".config/gup/gup.conf" }}'
gup import --input "${conf}"

# Installations that require manual installation
(
  declare tmp
  tmp="$(mktemp -d)"

  cd "${tmp}" || exit 1

  if verbose; then
    git clone https://github.com/minamijoyo/tfschema
  else
    git clone https://github.com/minamijoyo/tfschema >/dev/null 2>/dev/null
  fi

  cd tfschema || exit 1

  if verbose; then
    go install .
  else
    go install . >/dev/null 2>/dev/null
  fi

  cd - || exit 1
  rm -rf "${tmp}"
)
