#!/usr/bin/env bash

readonly script_name=run_once_before-02-install-homebrew.sh.tmpl
# {{ include (joinPath .chezmoi.workingTree "lib/lib.bash") }}
setup 02: Install Homebrew

set -e

case "$(uname -s)" in
Darwin)
  if has brew; then
    exit 0
  fi

  case "$(uname -m)" in
  arm64) HOMEBREW_PREFIX="/opt/homebrew" ;;
  *) HOMEBREW_PREFIX="/usr/local" ;;
  esac

  if ! [[ -x "${HOMEBREW_PREFIX}"/bin/brew ]]; then
    declare installer
    installer="$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    if verbose; then
      /bin/bash -c "${installer}"
    else
      /bin/bash -c "${installer}" >/dev/null 2>/dev/null
    fi
  fi

  # https://docs.brew.sh/Shell-Completion#configuring-completions-in-zsh
  chmod -R go-w "$(brew --prefix)/share" || true
  ;;

*) : ;;
esac
