#!/usr/bin/env bash

readonly script_name=run_after_fisher-update.sh.tmpl
# {{ include (joinPath .chezmoi.workingTree "lib/lib.bash") }}
setup

# Make sure that we have fish and fisher
if ! has fish; then
  warn "fish is not installed"
  exit 0
fi

if ! fish -c "functions --query fisher"; then
  warn "fisher is not installed"
  exit 0
fi

declare cache_path config_path digest_path digest_file stored_digest fish_plugins current_digest
cache_path="${XDG_CACHE_HOME:-"${CHEZMOI_HOME_DIR}/.cache"}"
config_path="${XDG_CONFIG_HOME:-"${CHEZMOI_HOME_DIR}/.config"}"
fish_plugins="${config_path}/fish/fish_plugins"

digest_path="${cache_path}/chezmoi/install"
digest_file="${digest_path}/fish_plugins.digest"
stored_digest=

if ! [[ -f "${fish_plugins}" ]]; then
  warn "No fish_plugins found."
  exit 0
fi

[[ -d "${digest_path}" ]] || mkdir -p "${digest_path}"
if [[ -f "${digest_file}" ]]; then
  stored_digest="$(cat "${digest_file}")"
fi

current_digest="$(openssl dgst -sha256 "${fish_plugins}")"

if [[ "${stored_digest}" != "${current_digest}" ]]; then
  echo remember to run fisher update
  echo "${current_digest}" >"${digest_file}"
else
  info fisher packages are up to date
fi
