#!/usr/bin/env bash

set -uo pipefail

on-ERR() {
  local status=$?
  echo >&2 Error executing run_onchange_after_install-5-code-extensions.sh.tmpl
  exit ${status}
}

trap on-ERR ERR

if [[ "${CHEZMOI_VERBOSE:-}" == 1 ]]; then
  echo 5: Install VS Code Extensions

  if "${DEBUG_SCRIPTS:-false}"; then
    set -x
  fi
fi

if ! command -v code >/dev/null 2>&1; then
  if [[ "${CHEZMOI_VERBOSE:-}" == 1 ]]; then
    echo >&2 "code is not installed"
    exit 1
  fi

  exit 0
fi

# Code-Extensions Hash: {{ include (joinPath .chezmoi.workingTree "Setup/CodeExtensions") | sha256sum }}
while read -r -a extension; do
  if [[ "${extension[*]}" =~ ^\s*#.*$ ]] || [[ "${extension[*]}" =~ ^\s*$ ]]; then
    continue
  fi

  if [[ "${CHEZMOI_VERBOSE:-}" == 1 ]]; then
    code --install-extension "${extension[@]}"
  else
    code --install-extension "${extension[@]}" >/dev/null 2>/dev/null
  fi
done <"{{ .chezmoi.workingTree }}/Setup/CodeExtensions"
