#!/usr/bin/env bash

set -uo pipefail

on-ERR() {
  local status=$?
  echo >&2 Error executing run_onchange_after-06-update-vim-spell.sh.tmpl
  exit ${status}
}

trap on-ERR ERR

if [[ "${CHEZMOI_VERBOSE:-}" == 1 ]]; then
  echo 06: Update Vim Spell File

  if "${DEBUG_SCRIPTS:-false}"; then
    set -x
  fi
fi

if ! command -v vim >/dev/null 2>&1; then
  if [[ "${CHEZMOI_VERBOSE:-}" == 1 ]]; then
    echo >&2 "vim is not installed"
    exit 1
  fi

  exit 0
fi

# Vim Spelling File Hashes
# {{ include (joinPath .chezmoi.sourceDir "private_dot_vim/spell/en.utf-8.add") | sha256sum }}
vim +'mkspell ~/.vim/spell/en.utf-8.add' +q
