{{- /* https://github.com/mholt/archiver */}}
arc = github.com/mholt/archiver/v3/cmd/arc
{{- /* github.com/klauspost/asmfmt */}}
asmfmt = github.com/klauspost/asmfmt/cmd/asmfmt
{{- /* https://github.com/spf13/cobra-cli */}}
cobra-cli = github.com/spf13/cobra-cli
{{- /* https://github.com/mszostok/codeowners-validator */}}
codeowners-validator = github.com/mszostok/codeowners-validator
{{- /* https://github.com/ruilisi/css-checker */}}
css-checker = github.com/ruilisi/css-checker
{{- /* https://github.com/go-delve/delve */}}
dlv = github.com/go-delve/delve/cmd/dlv
{{- /* https://github.com/safe-waters/docker-lock */}}
docker-lock = github.com/safe-waters/docker-lock/cmd/docker-lock
{{- /* https://github.com/radekg/google-font-download */}}
download = github.com/radekg/google-font-download/cmd/download
{{- /* https://github.com/kisielk/errcheck */}}
errcheck = github.com/kisielk/errcheck
{{- /* https://github.com/mkchoi212/fac */}}
fac = github.com/mkchoi212/fac
{{- /* https://github.com/davidrjenni/reftools */}}
fillstruct = github.com/davidrjenni/reftools/cmd/fillstruct
{{- /* https://github.com/davidrjenni/reftools */}}
fillswitch = github.com/davidrjenni/reftools/cmd/fillswitch
{{- /* https://github.com/davidrjenni/reftools */}}
fixplurals = github.com/davidrjenni/reftools/cmd/fixplurals
{{- /* https://github.com/mistakenelf/fm */}}
fm = github.com/mistakenelf/fm
{{- /* https://github.com/mrnugget/fzz */}}
fzz = github.com/mrnugget/fzz
{{- /* https://github.com/aarzilli/gdlv */}}
gdlv = github.com/aarzilli/gdlv
{{- /* https://github.com/cooperspencer/gickup */}}
gickup = github.com/cooperspencer/gickup
{{- /* https://github.com/shurcooL/git-branches */}}
git-branches = github.com/shurcooL/git-branches
{{- /* https://github.com/lukasz-lobocki/gitas */}}
gitas = github.com/lukasz-lobocki/gitas
{{- /* github.com/onsi/ginkgo/v2/ginkgo */}}
ginkgo = github.com/onsi/ginkgo/v2/ginkgo
{{- /* https://github.com/ramya-rao-a/go-outline */}}
go-outline = github.com/ramya-rao-a/go-outline
{{- /* https://github.com/acroca/go-symbols */}}
go-symbols = github.com/acroca/go-symbols
{{- /* https://github.com/mdempsky/gocode */}}
gocode = github.com/mdempsky/gocode
{{- /* https://github.com/rogpeppe/godef */}}
godef = github.com/rogpeppe/godef
{{- /* https://github.com/mvdan/gofumpt */}}
gofumpt = mvdan.cc/gofumpt
{{- /* https://github.com/zmb3/gogetdoc */}}
gogetdoc = github.com/zmb3/gogetdoc
{{- /* https://golang.org/x/tools/cmd/goimports */}}
goimports = golang.org/x/tools/cmd/goimports
{{- /* https://github.com/fatih/gomodifytags */}}
gomodifytags = github.com/fatih/gomodifytags
{{- /* https://github.com/radekg/google-font-download */}}
google-font-download = github.com/radekg/google-font-download/cmd/download
{{- /* https://golang.org/x/tools/cmd/gorename */}}
gorename = golang.org/x/tools/cmd/gorename
{{- /* https://github.com/jstemmer/gotags */}}
gotags = github.com/jstemmer/gotags
{{- /* https://github.com/dosco/graphjin */}}
graphjin = github.com/dosco/graphjin
{{- /* https://github.com/nao1215/gup */}}
gup = github.com/nao1215/gup
{{- /* https://github.com/minamijoyo/hcledit */}}
hcledit = github.com/minamijoyo/hcledit
{{- /* https://github.com/koron/iferr */}}
iferr = github.com/koron/iferr
{{- /* https://github.com/josharian/impl */}}
impl = github.com/josharian/impl
{{- /* https://github.com/cycloidio/inframap */}}
inframap = github.com/cycloidio/inframap
{{- /* https://github.com/segmentio/ksuid */}}
ksuid = github.com/segmentio/ksuid/cmd/ksuid
{{- /* https://github.com/jesseduffield/lazygit */}}
lazygit = github.com/jesseduffield/lazygit
{{- /* https://github.com/evilmartians/lefthook */}}
lefthook = github.com/evilmartians/lefthook
{{- /* https://github.com/nishanths/license */}}
license = github.com/nishanths/license
{{- /* https://github.com/kovetskiy/mark */}}
{{- /* mark = github.com/kovetskiy/mark */}}
{{- /* https://github.com/stefanlogue/meteor */}}
meteor = github.com/stefanlogue/meteor
{{- /* https://github.com/fatih/motion */}}
motion = github.com/fatih/motion
{{- /* https://github.com/minamijoyo/myaws */}}
myaws = github.com/minamijoyo/myaws
{{- /* https://github.com/tj/node-prune */}}
node-prune = github.com/tj/node-prune
{{- /* https://github.com/google/osv-scanner */}}
osv-scanner = github.com/google/osv-scanner/cmd/osv-scanner
{{- /* https://github.com/sqldef/sqldef */}}
psqldef = github.com/sqldef/sqldef/cmd/psqldef
{{- /* https://github.com/allyring/pvw */}}
pvw = github.com/allyring/pvw
{{- /* https://github.com/ichinaski/pxl */}}
pxl = github.com/ichinaski/pxl
{{- /* https://github.com/boyter/scc */}}
scc = github.com/boyter/scc
{{- /* https://github.com/sqldef/sqldef */}}
sqlite3def = github.com/sqldef/sqldef/cmd/sqlite3def
{{- /* https://github.com/sqls-server/sqls */}}
sqls = github.com/sqls-server/sqls
{{- /* https://honnef.co/go/tools/cmd/structlayout */}}
structlayout = honnef.co/go/tools/cmd/structlayout
{{- /* https://honnef.co/go/tools/cmd/structlayout-optimize */}}
structlayout-optimize = honnef.co/go/tools/cmd/structlayout-optimize
{{- /* https://honnef.co/go/tools/cmd/structlayout-pretty */}}
structlayout-pretty = honnef.co/go/tools/cmd/structlayout-pretty
{{- /* https://github.com/hashicorp/terraform-ls */}}
terraform-ls = github.com/hashicorp/terraform-ls
{{- /* https://github.com/busser/tfautomv */}}
tfautomv = github.com/busser/tfautomv
{{- /* https://github.com/minamijoyo/tfedit */}}
tfedit = github.com/minamijoyo/tfedit
{{- /* https://github.com/minamijoyo/tfschema */}}
{{- /* tfschema = github.com/minamijoyo/tfschema */}}
{{- /* https://github.com/charmbracelet/wishlist */}}
wishlist = github.com/charmbracelet/wishlist/cmd/wishlist
