auto-update-channel = tip
background-blur = 20
background-opacity = 0.9

# custom-shader = shaders/crt.glsl
font-size = 12

minimum-contrast = 3

keybind = global:super+alt+q=toggle_quick_terminal
keybind = super+alt+shift+k=write_scrollback_file:open,plain
keybind = super+digit_0=unbind
keybind = super+digit_0=reset_font_size
keybind = super+digit_9=last_tab
keybind = super+shift+k=write_scrollback_file:paste


link-previews = true
macos-icon = xray
macos-option-as-alt = right
macos-shortcuts = ask
macos-titlebar-proxy-icon = visible
macos-titlebar-style = tabs
maximize = true
resize-overlay-duration = 1s 250ms
resize-overlay-position = top-right

shell-integration-features = cursor,sudo,title,ssh-env,ssh-terminfo,path

# theme = rebecca
# theme = rose-pine
# theme = rose-pine-moon
# theme = Kanagawa Wave
theme = kanagawabones

window-height = 70
window-new-tab-position = end
window-width = 90
