{{- $identities := includeTemplate "1password_git_identities.tmpl" . | fromJson -}}
{{- $keys := dict -}}
{{- range $_account, $configs := $identities -}}
{{-   range $_config_name, $config := $configs -}}
{{-     range $_identity_name, $identity := $config.data.identities -}}
{{-       $key := or (get $identity "key") $config.data.key -}}
{{-       if not (hasKey $keys $key) -}}
{{-         $keys = mergeOverwrite (dict $key list) -}}
{{-       end -}}
{{-       $list := append (get $keys $key) $identity.email -}}
{{-       $keys = mergeOverwrite $keys (dict $key $list) -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
{{ range $key, $emails := $keys -}}
{{   join "," $emails }} {{ $key }}
{{- end }}
