ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID0W1ItzxioDHJcsbOLg7DTvJahkCY2VvhZniDjWigjj austin@zieglers.ca
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC6TdQGyXfT2cRr/hFojUay8eTxtZIPCrCSVM8bqrXW9WbNTlMaNHjxcFEpEcOnToON2SxwrJXYYgsL3RT9h3A1JkkhsphWvgCL+IknVCv+xjr6friqTc2Cnc6x6pgRVQ4TO062FhHY/1lyA8TW9qBmWYt5r7QbMsh8g1f27iNpxNidInR4pJJwJZEO9B0hyyXixC0Tcyh5yPBAFFc0oX+HSiGKEfqbGxQEeFHTsJBufVIzJbmbXDHcjG25ELQ5Gns2hzh/bhpwQbIbeZMg6PclPaQCWQcd8GGAwvOjUODc1yjrEjEpmgB3Ca7y3dH/GX8joEYZRHNC0Q1VNiWy1CE7 austin@Austins-Retina-MacBook-Pro.local
{{ range (gitHubKeys "halostatue")  -}}
{{   .Key }}
{{ end -}}
