{{- $programs := includeTemplate "programs.tmpl" . | fromJson -}}
{{- $ssh := joinPath $.chezmoi.homeDir ".ssh" -}}
{{- $updatable_hosts :=
      concat (list "github.com" "bitbucket.org" "gitlab.com")
             (. | dig "ssh" "updatable_hosts" (list))
      | uniq
      | toStrings
      | join " "
-}}

# General SSH configuration
IgnoreUnknown UseKeychain
ForwardAgent yes
HashKnownHosts no
ServerAliveCountMax 6
ServerAliveInterval 15
VerifyHostKeyDNS yes

{{ $agent := "" -}}
{{- if eq .ssh.agent "1password" -}}
{{-   $agent = joinPath $.chezmoi.homeDir "/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock" -}}
{{- else if eq .ssh.agent "secretive" -}}
{{-   $agent = joinPath $.chezmoi.homeDir "/Library/Containers/com.maxgoedjen.agent.SecretAgent/Data/socket.ssh" -}}
{{- end -}}
{{ if and ($agent) (stat $agent) -}}
Host *
  IdentityAgent {{ $agent | quote }}
{{- end }}

Host *
  UseKeychain yes
  AddKeysToAgent yes

Host {{ $updatable_hosts }}
  UpdateHostKeys yes
{{ if $programs.ssh_chain -}}

Host *^*
  ProxyCommand {{ $programs.ssh_chain | quote }} %h %p
{{- end }}
{{- $account_vaults := includeTemplate "1password_vaults.tmpl" . | fromJson -}}
{{- range $account_name, $account := $account_vaults -}}
{{-   $vaults := $account.vaults -}}
{{-
      $documents :=
        output "op" "document" "list" "--account" $account.url "--format" "json"
        | fromJson
        | jq "map(select(.title | startswith(\"ssh-host: \"))) | sort_by(.title)"
        | first
-}}
{{-   range $document := $documents -}}
{{-     $vault_name := (get $vaults $document.vault.id).name }}
{{      printf "# '%v/%v' (from %v)" $vault_name $document.title $account.url }}
{{      onepasswordDocument $document.id $document.vault.id $account.url }}
{{-  end -}}
{{- end -}}

{{- $identities := includeTemplate "1password_git_identities.tmpl" . | fromJson -}}
{{- range $account_name, $configs := $identities -}}
{{-   range $config_name, $config := $configs -}}
{{-     if hasKey $config.data "ssh" -}}{{- range $ssh_name, $ssh_config := $config.data.ssh }}
Host {{ $ssh_name }}
  HostName {{ $ssh_config.hostname }}
  User {{ $ssh_config.user }}
  IdentityFile ~/.ssh/{{ $account_name }}-{{ $config_name }}-{{ $ssh_config.identity }}.pub
  IdentitiesOnly yes
{{-     end }}{{ end -}}
{{-   end -}}
{{- end }}

{{ $colima := joinPath $.chezmoi.homeDir ".colima/ssh_config" -}}
{{- if stat $colima }}
Include {{ $colima }}
{{- end }}
