# vim: ft=gitconfig

{{- if hasKey . "git" -}}
{{-   if hasKey .git "signing" -}}
{{-     if hasKey .git.signing "key" }}
[gpg]
  format = {{ or (.git.signing.format) "gpg" }}

[commit]
  gpgSign = true

[tag]
  gpgSign = true

[user]
  signingKey = {{ .git.signing.key }}

{{ if hasKey .git.signing "push" }}{{ if eq .git.signing.push true -}}
[push]
  gpgSign = true
{{- end }}{{ end }}
{{ if eq .git.signing.format "ssh" }}
[gpg "ssh"]
  allowedSignersFile = {{ joinPath joinPath .chezmoi.homeDir ".ssh/allowed_signers" }}
{{ end -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
