[preview]
cloudfront = true

[default]
cli_history = enabled
{{/*
*/}}
{{/* Add all '^aws-config: ' documents from all 1Password accounts. */}}
{{- $mise := or (lookPath "mise") "mise" }}
{{- $account_vaults := includeTemplate "1password_vaults.tmpl" . | fromJson -}}
{{- range $account_name, $account := $account_vaults -}}
{{-   $vaults := $account.vaults -}}
{{-   $params := dict "account" $account.url "startswith" "aws-config: " "tags" $.roles.aws -}}
{{-   $documents := includeTemplate "1password_documents.tmpl" $params | fromJson -}}
{{-   range $document := $documents -}}
{{-     $vault_name := (get $vaults $document.vault.id).name }}
{{      printf "# '%v/%v' (from %v)" $vault_name $document.title $account.url }}

{{      onepasswordDocument $document.id $document.vault.id $account.url |
          replaceAllRegex "mise" $mise }}
{{-   end -}}
{{- end -}}
