{{/* Add all '^aws-credentials: ' documents from all 1Password accounts. */}}
{{- $account_vaults := includeTemplate "1p/vaults" . | fromJson -}}
{{- range $account_name, $account := $account_vaults -}}
{{-   $vaults := $account.vaults -}}
{{-   $params := dict "account" $account.url "startswith" "aws-credentials: " "tags" $.aws_tags -}}
{{-   $documents := includeTemplate "1p/documents" $params | fromJson -}}
{{-   range $document := $documents -}}
{{-     $vault_name := (get $vaults $document.vault.id).name }}
{{      printf "# '%v/%v' (from %v)" $vault_name $document.title $account.url }}

{{      onepasswordDocument $document.id $document.vault.id $account.url }}
{{-  end -}}
{{- end -}}
