{{- range .aws.credentials }}
{{ if eq .type "1p" -}}
{{ printf "# aws-credentials: %v (from %v %v %v)" .name .type .account .vault }}

{{ onepasswordDocument (printf "aws-credentials: %v" .name) .vault .account }}
{{- end -}}
{{- end -}}
