{{/* Add all '^aws-credentials: ' documents from all 1Password accounts. */}}
{{- $account_vaults := includeTemplate "1password_vaults.tmpl" . | fromJson -}}
{{- range $account_name, $account := $account_vaults -}}
{{-   $vaults := $account.vaults -}}
{{-
      $documents := index (
        output "op" "document" "list" "--account" $account.url "--format" "json"
        | fromJson
        | jq "map(select(.title | startswith(\"aws-credentials:\"))) | sort_by(.title)"
      ) 0
-}}
{{-   range $document := $documents -}}
{{-     $vault_name := (get $vaults $document.vault.id).name }}
{{      printf "# '%v/%v' (from %v)" $vault_name $document.title $account.url }}

{{      onepasswordDocument $document.id $document.vault.id $account.url }}
{{-  end -}}
{{- end -}}
