#! /bin/bash

# See https://docs.brew.sh/Manpage#environment for possible values.

{{- if lookPath "bat" }}
export HOMEBREW_BAT=1
# export HOMEBREW_BAT_CONFIG_PATH=$HOME/.bat/config
{{- end }}

export HOMEBREW_DISPLAY_INSTALL_TIMES=1

{{- if ne (dig "homebrew" "github" "user" "<missing>" .) "<missing>" }}
export HOMEBREW_GITHUB_API_TOKEN="{{ keyring "homebrew-github-api" .homebrew.github.user }}"
{{- end }}

{{- if ne (dig "homebrew" "github" "packages" "user" "<missing>" .) "<missing>" }}
export HOMEBREW_GITHUB_PACKAGES_TOKEN="{{ keyring "homebrew-github-packages" .homebrew.github.packages.user }}"
export HOMEBREW_GITHUB_PACKAGES_USER="{{ .homebrew.github.packages.user }}"
{{- end }}

# export HOMEBREW_NO_ANALYTICS=1
# export HOMEBREW_NO_AUTO_UPDATE=1
# export HOMEBREW_NO_GITHUB_API=1

export HOMEBREW_NO_INSECURE_REDIRECT=1
