#! /bin/bash

# See https://docs.brew.sh/Manpage#environment for possible values.

{{- if lookPath "bat" }}
export HOMEBREW_BAT=1
# export HOMEBREW_BAT_CONFIG_PATH=$HOME/.bat/config
{{- end }}

export HOMEBREW_DISPLAY_INSTALL_TIMES=1

{{- if hasKey . "homebrew" -}}
{{-   if hasKey .homebrew "api_token" }}
export HOMEBREW_GITHUB_API_TOKEN="{{ keyring "homebrew-github-api" .github.user }}"
{{-   end }}

{{-  if hasKey .homebrew "packages" }}
export HOMEBREW_GITHUB_PACKAGES_TOKEN="{{ keyring "homebrew-github-packages" .homebrew.packages.user }}"
export HOMEBREW_GITHUB_PACKAGES_USER="{{ .homebrew.packages.user }}"
{{-   end }}
{{- end }}

# export HOMEBREW_NO_ANALYTICS=1
# export HOMEBREW_NO_AUTO_UPDATE=1
# export HOMEBREW_NO_GITHUB_API=1

export HOMEBREW_NO_INSECURE_REDIRECT=1
