{{- $work := has "work" (get . "roles" | default list) -}}
{{- $npm_tokens := dict -}}
{{- if $work -}}
{{-   $_ := set $npm_tokens "NPM_PACKAGE_TOKEN" ((output "gh" "auth" "token" "--user"
    .github.work) | trim) -}}
{{- end -}}
{{- $hex_api_keys := dict -}}
{{- if $work -}}
{{-   $_ := set $hex_api_keys "vivo" (onepasswordRead "op://xlol453p46nfdqodyw62qzk63m/rlvbids4mm46mozbxeplzfphem/credential" .op.personal) -}}
{{- end }}
min_version = "2024.12.23"

[settings]
always_keep_download = false
always_keep_install = false
experimental = true
idiomatic_version_file = false
legacy_version_file = false
paranoid = true

[settings.ruby]
default_packages_file = {{ joinPath .chezmoi.homeDir ".config/packages/default_gems" | quote }}

[env]
ERL_AFLAGS = "-kernel shell_history enabled shell_history_file_bytes 5242880"
RIPGREP_CONFIG_PATH = {{ joinPath .chezmoi.homeDir ".ripgreprc" | quote }}
{{ range $name, $value := $hex_api_keys -}}
{{ printf "%s_HEX_API_KEY" ($name | jq "ascii_upcase" | first) }} = {{ $value | quote }}{{ end }}
{{ range $name, $value := $npm_tokens -}}
{{ printf "%s" ($name | jq "ascii_upcase" | first) }} = {{ $value | quote }}{{ end }}

[tools]
{{ if $work }}aws-vault = "7"{{ end }}
elixir = "1.18.3-otp-27"
erlang = "27.3.4"
gleam = "latest"
{{ if $work -}}
"go:newreleases.io/cmd/newreleases" = "latest"
k9s = "latest"
kubectl = "1.31"
{{- end }}
node = "20"
ruby = "3.4"
{{ if $work }}"ubi:telia-oss/aws-env" = "latest"{{ end }}
usage = "latest"
zig = "0.13"

{{- if gt (len $hex_api_keys) 0 }}

[tasks.hex-auth]
description = "Authenticate Private hex.pm Organizations"
run = [
  "echo Authenticating Private hex.pm Organizations",
{{- range $_, $name := keys $hex_api_keys -}}
  "mix hex.organizations auth {{ $name }} --key {{ printf "$%s_HEX_API_KEY" ($name | jq "ascii_upcase" | first) }}",
{{ end }}
]

[tasks.hex-auth.env]
{{ range $name, $value := $hex_api_keys -}}
{{ printf "%s_HEX_API_KEY" ($name | jq "ascii_upcase" | first) }} = {{ $value | quote }}{{ end }}
{{ end -}}
