<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>
      /opt/local/bin:/opt/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <true />
    </dict>
    <key>Label</key>
    <string>macports.colima</string>
    <key>LimitLoadToSessionType</key>
    <array>
      <string>Aqua</string>
      <string>Background</string>
      <string>LoginWindow</string>
      <string>StandardIO</string>
      <string>System</string>
    </array>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/local/bin/colima</string>
      <string>start</string>
      <string>-f</string>
    </array>
    <key>RunAtLoad</key>
    <true />
    <key>StandardErrorPath</key>
    <string>{{ .chezmoi.homeDir }}/.colima/colima.log</string>
    <key>StandardOutPath</key>
    <string>{{ .chezmoi.homeDir }}/.colima/colima.log</string>
    <key>WorkingDirectory</key>
    <string>{{ .chezmoi.homeDir }}</string>
  </dict>
</plist>
