# vim: ft=gitconfig

[alias]
  # A typo that turned useful
  addp = add -p

  # This should be default. Whatever.
  co = checkout

  # If we type `git git log`, just run `git log`.
  git = !git

  # Count the number of commits per person
  count = shortlog -sn --no-merges

  # Quickly amend a commit
  fast-amend = commit --amend --no-edit

  # Quickly amend a commit, but allow editing of the message
  fast-edit = commit --amend --reuse-message HEAD

  # Push the current HEAD to `origin`
  push-head = !git push origin $(git symbolic-ref HEAD) --set-upstream

  # Push with --force-with-lease
  please-push = push --force-with-lease

  # Abbreviated status
  st = status --short --branch --untracked-files=no --ignore-submodules=untracked

  # Shorter
  staged = diff --cached

  # Useful when resolving conflicts
  stc = diff --stat --name-status --cached

  # Show the root directory of the repo
  root = rev-parse --show-toplevel

  # Fetch and pull
  update-rebase = !git fetch -mp && git pull --rebase

  # "very" garbage collect
  vgc = repack -f -a -d --depth=250 --window=250

  # Show files that have been otherwise ignored
  ignored = ls-files --others -i --exclude-standard

  ls = log --color --graph --pretty=format:'%C(yellow)%d%Creset %Cgreen(%cr)%Creset %C(bold blue)[%an]%Creset %s %Cred(%h)%Creset' --abbrev-commit

  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --numstat

  t = !tig "$@"

  review-base = !git merge-base HEAD \"${REVIEW_BASE:-origin/master}\"

  # list files which have changed since REVIEW_BASE
  files = !git diff --name-only $(git merge-base HEAD \"${1:-${REVIEW_BASE:-master}}\")

  # Same as above, but with a diff stat instead of just names (better for interactive use)
  stat = !git diff --stat $(git merge-base HEAD \"${1:-${REVIEW_BASE:-master}}\")

  depgraph = !git madge image --webpack-config webpack.config.js --basedir . --style solarized-dark src

  review = !$EDITOR -p $(git files) +\"tabdo Gdiff ${REVIEW_BASE:-origin/master}\" +\"let g:gitgutter_diff_base = '${REVIEW_BASE:-origin/master}'\"

  reviewone = !$EDITOR -p +\"tabdo Gdiff ${REVIEW_BASE:-origin/master}\" +\"let g:gitgutter_diff_base = '${REVIEW_BASE:-origin/master}'\"
  reviewf = !$EDITOR -p $(git files | fzf -m --reverse --height 40%) +\"tabdo Gdiff ${REVIEW_BASE:-origin/master}\" +\"let g:gitgutter_diff_base = '${REVIEW_BASE:-origin/master}'\"
  # For when the diff is too big to review with :Gdiff
  diff-review = !git diff $(git review-base)
  # Review by commit
  by-commit = !git log -p --reverse $(git review-base)..HEAD
  # split-diff, using icdiff
  icdiff = --paginate difftool --tool icdiff
  # show the before, changes, and after for one tracked image
  diff-img = difftool --tool imgdiff
  # Show just the subject and body of a particular commit (default: HEAD)
  message = log -n1 --format=\"%s%n%n%b\"
  # Show a markdown-formatted summary of commits from {REVIEW_BASE:-origin/master} until HEAD
  pr-summary = !git log --reverse --format=\"- **%s** (%h)%n%n%w(74,2,2)%b\" \"${REVIEW_BASE:-origin/master}\"..HEAD
  head = rev-parse HEAD

  todo = grep -Ee '\\bTODO:?\\b'
  fixme = grep -Ee '\\bFIX(ME)?:?\\b'

  safe = !mkdir .git/safe

  main-branch = "!git show-ref --quiet origin/main && echo main || echo master"

  pr-summary = "!git log --reverse $(git main-branch).. --format=%B | tee /dev/tty | pbcopy"

  show-sha = !git shalector | xargs git show

  cherry-pick-previous = cherry-pick HEAD@{1}

	# cleanup = "!git branch --format=\"%(if:notequals=*)%(HEAD)%(then)%(if:notequals=${1:-master})%(refname:lstrip=2)%(then)%(refname:lstrip=2)%(end)%(end)\" --merged master | xargs -rpxL1 git branch -d"

  save ="!f() { if [ \"$#\" -lt 1 ]; then echo \"No revision given! You must specify a valid ref.\"; exit 1; fi; if [ \"$#\" -lt 2 ]; then echo \"No file(s) given! Files must be specified.\"; exit 1; fi; dir=\"`git rev-parse--show-toplevel`\"; ref=\"$1\"; shift; cd \"${dir}\"; dest=\"`echo \"${ref}\" | sed 's-/-_-g'`\"; for f in \"$@\"; do git show \"${ref}:${f}\" \"${f}.${dest}\"; done; }"

{{ if lookPath "fzf" }}
  # Show the log in fzf
  fzflog = "!git log --color=always --format=\"%C(auto)%h%d %s %C(black)%C(bold)%cr\" \"${@}\" | fzf --ansi| awk '{print $1}' | pbcopy"
{{ end -}}

  conflicted = "!vim +Conflicted"
