{{- $programs := includeTemplate "programs.tmpl" . | fromJson -}}
# See https://tekin.co.uk/2020/10/better-git-diff-output-for-ruby-python-elixir-and-more for more details

*.ada diff=ada
*.bib diff=bibtex
*.cs diff=csharp
*.css diff=css
*.dts diff=dts
*.f diff=fortran
*.fountain diff=fountain
*.go diff=golang
*.java diff=java
*.java diff=java
*.kt diff=kotlin
*.oct diff=octave
*.org diff=orgmode
*.pbxproj text -crlf -diff -merge
*.php diff=php
*.pl diff=perl
*.py diff=python
*.r diff=rstats
*.swift diff=swift
*.tex diff=tex
*.texi* diff=texinfo
*.{bash,sh} diff=bash
*.{c,cc,cpp,c++,h,hh,hpp,h++} diff=cpp
*.{erl,hrl} diff=erlang
*.{ex,exs} diff=elixir
*.{html,xhtml} diff=html
*.{html.erb,eex,heex} diff=html
*.{lisp,el,clj} diff=lisp
*.{m,mm} diff=objc
*.{md,markdown,mkdown,mdown} diff=markdown
*.rs diff=rust
*_spec.rb diff=rspec
mix.lock merge=binary
rebar.lock merge=binary
sqitch.conf text whitespace=blank-at-eol,space-before-tab,trailing-space
{*.rb,Gemfile,Rakefile} diff=ruby
{Gemfile,*.gemspec} diff=ruby
{Rakefile,*.rake} diff=ruby

# Various Binary Document Types
{{ if $programs.exiftool -}}
*.png diff=exif
*.jpg diff=exif
*.jpeg diff=exif
*.gif diff=exif
{{ end -}}

{{ if or $programs.pdfinfo $programs.pdftotext -}}
*.pdf diff=pdf
{{ end -}}

{{ if or $programs.djvutxt $programs.pdfinfo -}}
*.djvu diff=djvu
{{ end -}}

{{ if or $programs.odt2txt $programs.pandoc -}}
*.odt diff=odt
{{ end -}}

{{ if $programs.soffice -}}
*.odp diff=libreoffice
*.ods diff=libreoffice
{{ end -}}

{{ if or $programs.antiword $programs.catdoc $programs.wvText -}}
*.doc diff=doc
{{ end -}}

{{ if or $programs.in2csv $programs.soffice $programs.xlscat -}}
*.xls diff=xls
{{ end -}}

{{ if $programs.catppt -}}
*.ppt diff=ppt
{{ end -}}

{{ if or $programs.docx2txt $programs.pandoc -}}
*.docx diff=docx
{{ end -}}

{{ if or $programs.in2csv $programs.soffice $programs.xlsx2csv $programs.xlsx2csvPy -}}
*.xlsx diff=xlsx
{{ end -}}

{{ if $programs.pptx2md -}}
*.pptx diff=pptx
{{ end -}}

{{ if $programs.unrtf -}}
*.rtf diff=rtf
{{ end -}}

{{ if $programs.pandoc -}}
*.epub diff=pandoc
{{ end -}}

{{ if $programs.tika -}}
*.chm diff=tika
*.mhtml? diff=tika
*.{class,jar} diff=tika
*.{rar,7z,zip} diff=tika
{{ end -}}
