{{- /* Initialize variables for use in this file */ -}}
{{- $has := includeTemplate "programs" . | fromJson -}}
{{- /* $commitTemplate := joinPath .chezmoi.homeDir ".config/git/commit-message" */ -}}
{{- $commitTemplate := "" -}}
{{- $coreAttributesFile := joinPath .chezmoi.homeDir ".config/git/attributes" -}}
{{- $excludesFile := joinPath .chezmoi.homeDir ".config/git/ignore" -}}
{{- $skiplistFile := joinPath .chezmoi.homeDir ".config/git/commit-skiplist" -}}
{{- $identities := includeTemplate "1p/git-identities" . | fromJson -}}
{{- $corePager := "" -}}
{{- $showPager := "" -}}
{{- $credentialsHelper := "" -}}
{{- $githubUser := "" -}}
{{- $githubToken := "" -}}
{{- $sequenceEditor := "" -}}
{{- $webBrowser := "" -}}

{{- if and $has.delta $has.ov -}}
{{-   $corePager = printf "%s --pager='%s -F'" $has.delta $has.ov -}}
{{-   $showPager = printf "%s --pager='%s -F --header 3 --jump-target section'" $has.delta $has.ov -}}
{{- else if $has.ov -}}
{{-   $corePager = printf "%s -F" $has.ov -}}
{{-   $showPager = printf "%s -F --header 3 --jump-target section" $has.ov -}}
{{- else if $has.delta -}}
{{-   $corePager = $has.delta -}}
{{- else if $has.diff_so_fancy -}}
{{-   $corePager = printf "%s | less --tabs=4 -RFX" $has.diff_so_fancy -}}
{{- end -}}

{{- $githubUser = .github.user -}}
{{- $githubToken = onepasswordRead "op://Personal/github-cli-tools/credential" .onepassword.personal -}}

{{- if $has.interactive_rebase_tool -}}
{{-   $sequenceEditor = $has.interactive_rebase_tool }}
{{- end -}}

{{- if or $has.xdg_open $has.macos_open -}}
{{-   $webBrowser = or $has.xdg_open $has.macos_open -}}
{{- end -}}

{{- if $has.git_absorb -}}
[absorb]
  autoStageIfNothingStaged = true
{{- end }}

[advice]
  skippedCherryPicks = false
  addEmptyPathspec = false
  detachedHead = false
  statusHints = false

[apply]
  whitespace = nowarn

[blame]
  # ignoreRevsFile = .git-blame-ignore-revs

[branch]
  autosetuprebase = always
  sort = -committerdate

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow bold
  remote = green bold
  plain = red bold

[color "status"]
  added = green
  changed = yellow bold
  untracked = white bold

[column]
  ui = auto

[commit]
{{- if $commitTemplate }}
  #  template = {{ $commitTemplate | quote }}
{{- end }}
  cleanup = scissors
  verbose = true
  gpgsign = true

[conflicts]
  editor = gvim

[core]
  abbrev = 12
{{- if $coreAttributesFile }}
  attributesFile = {{ $coreAttributesFile  | quote }}
{{- end }}
  autocrlf = input
  compression = -1
  editor = vim
{{- if $excludesFile }}
  excludesFile = {{ $excludesFile | quote }}
{{- end }}
  fsmonitor = true
  # hooksPath = ""
{{- if $corePager }}
  pager = {{ $corePager }}
{{- end }}
  precomposeUnicode = true
  safecrlf = true
  whitespace = trailing-space,tab-in-indent,cr-at-eol,space-before-tab

[credential]
{{- if and (eq .chezmoi.os "darwin") $credentialsHelper }}
  helper = {{ quote $credentialsHelper }}
{{ else }}
  helper = cache --timeout=3600
{{- end }}
{{- if $has.gh }}

[credential "https://github.com"]
  helper = !{{ $has.gh }} auth git-credential

[credential "https://gist.github.com"]
  helper = !{{ $has.gh }} auth git-credential
{{- end }}

{{- if $has.delta }}

[delta]
  dark = true
  features = side-by-side unobtrusive-line-numbers decorations woolly-mammoth
  file-style = yellow
  line-numbers = true
  navigate = true # use n and N to move between diff sections
  syntax-theme = OneHalfDark
  zero-style = dim syntax

[delta "side-by-side"]
  side-by-side = true

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "unobtrusive-line-numbers"]
  line-numbers = true
  line-numbers-minus-style = "#444444"
  line-numbers-zero-style = "#444444"
  line-numbers-plus-style = "#444444"
  line-numbers-left-format = "{nm:>4}┊"
  line-numbers-right-format = "{np:>4}│"
  line-numbers-left-style = blue
  line-numbers-right-style = blue

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = yellow box

{{- if $has.ov }}

[pager]
  diff = delta --features ov-diff
  log  = delta --features ov-log

[delta "ov-diff"]
  pager= {{ $has.ov }} -F --section-delimiter '^(commit|added:|removed:|renamed:|Δ)' --section-header --pattern '•' --jump-target section

[delta "ov-log"]
  pager= {{ $has.ov }} -F --section-delimiter '^commit' --section-header-num 3 --jump-target section

{{- end }}

[interactive]
  diffFilter = {{ $has.delta }} --color-only --features=interactive
{{- end }}

[feature]
  manyFiles = true

[fetch]
  all = true
  fsckobjects = true
  prune = true
  pruneTags = true
  recurseSubmodules = on-demand

{{ if $skiplistFile -}}
[fetch.fsck]
    skipList = {{ $skiplistFile | quote }}
{{- end }}

[format]
  pretty = %C(yellow)%h%C(reset) %C(red)%ad%C(reset) | %s%d %C(green)[%aN]%C(reset)
  signOff = true

[gc]
  reflogexpire = 300
  reflogexpireunreachable = 90

{{ if $githubUser -}}
[github]
  user = {{ $githubUser | quote }}
{{- if $githubToken }}
  token = {{ $githubToken | quote }}
{{- end }}
{{- end }}

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = {{ joinPath "~" ".ssh/allowed_signers" }}
  # program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[grep]
  extendRegexp = true
  lineNumber = true

[help]
  autocorrect = prompt

[index]
  # This can be removed as a default configuration after libgit2 1.7.3 or later.
  # https://github.com/libgit2/libgit2/issues/6531
  skipHash = false

[init]
  defaultBranch = main

[interactive]
  singleKey = true

[log]
  date = short
  decorate = auto
  showSignature = false

[pack]
  threads = 0
  writeReverseIndex = true
  useSparse = true

[pager]
  branch = false
  grep = false
{{- if $showPager }}
  show = {{ $showPager }}
{{- end }}

[pretty]
  simple-oneline = "%C(yellow)%h%C(auto)%d %s <%C(green)%aN%C(reset)> (%C(blue)%ar%C(reset))"

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = simple
  followTags = true
  gpgSign = false # if-asked

[rebase]
  autostash = true
  # autosquash = true
  missingCommitsCheck = error

[receive]
  fsckobjects = true

{{ if $skiplistFile -}}
[receive.fsck]
  skipList = {{ $skiplistFile | quote }}
{{- end }}

[stash]
  showPatch = true

[status]
  submoduleSummary = true

[submodule]
  fetchJobs = 0

[tag]
  forceSignAnnotated = true
  sort = version:refname
  gpgsign = true

[tar "tar.xz"]
  command = xz -c

[tar "tar.zst"]
  command = zstd -T0 -c

[transfer]
  fsckobjects = true

{{ if $has.git_trim -}}
# https://github.com/foriequal0/git-trim
[trim]
  bases = master,main,gh-pages
{{- end }}

[versionsort]
  suffix = ""
  suffix = "-rc"
  suffix = "-pre"

# URL shorthands
[url "git@github.com:"]
  insteadOf = gh:
[url "git@gist.github.com:"]
  insteadOf = gist:
[url "git@bitbucket.org:"]
  insteadOf = bb:
{{  range $account_name, $configs := $identities -}}
{{-   range $config_name, $config := $configs -}}
{{-     range $_, $url := $config.data.url }}
[url {{ $url.use | quote }}]
  insteadOf = {{ $url.match }}{{ end }}{{ end }}{{ end }}

[user]
  useConfigOnly = true

{{ if $webBrowser -}}
[web]
  browser = {{ $webBrowser }}
{{- end }}

[rerere]
  enabled = true
  autoupdate = true

[sendemail]
  annotate = true
  confirm = always
  thread = true
  supersscc = self

{{ if $sequenceEditor -}}
[sequence]
  editor = {{ $sequenceEditor }}

{{- end }}
{{ if lookPath "git-lfs" -}}
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

{{- end }}
[include]
  path = ~/.config/git/aliases
[include]
  path = ~/.config/git/diff-merge
[include]
  path = /opt/local/share/git-delta/themes.gitconfig

{{  range $account_name, $configs := $identities -}}
{{-   range $config_name, $config := $configs -}}
{{-     range $_, $include := $config.data.includes -}}
{{-       $name := printf "~/.config/git/identities/%s-%s-%s" $account_name $config_name $include.identity -}}
{{        if eq $include.type "remote_url" -}}
[includeIf "hasconfig:remote.*.url:{{ $include.match }}**"]
  path = {{ $name }}
{{ else if eq $include.type "gitdir" -}}
[includeIf "gitdir:{{ $include.match }}/**"]
  path = {{ $name }}
{{ else if eq $include.type "gitdir/i" -}}
[includeIf "gitdir/i:{{ $include.match }}/**"]
  path = {{ $name }}
{{ end }}{{ end }}{{ end }}{{ end }}

{{- "" -}}
{{/* vim: set filetype=gitconfig */}}
