{{- /* Initialize variables for use in this file */ -}}
{{- $programs := includeTemplate "programs.tmpl" . | fromJson -}}
{{- $commitTemplate := ".config/git/commit-message" -}}
{{- $coreAttributesFile := ".config/git/attributes" -}}
{{- $excludesFile := ".config/git/ignore" -}}
{{- $corePager := "" -}}
{{- $githubUser := "" -}}
{{- $githubToken := "" -}}
{{- $sequenceEditor := "" -}}
{{- $webBrowser := "" -}}

{{- /* Set the values  */ -}}
{{- if stat (join .chezmoi.homeDir $commitTemplate) -}}
{{-   $commitTemplate = joinPath "~" $commitTemplate -}}
{{- else -}}
{{-   $commitTemplate = "" -}}
{{- end -}}
{{- if stat (join .chezmoi.homeDir $coreAttributesFile) -}}
{{-   $coreAttributesFile = joinPath "~" $coreAttributesFile -}}
{{- else -}}
{{-   $coreAttributesFile = "" -}}
{{- end -}}
{{- if stat (join .chezmoi.homeDir $excludesFile) -}}
{{-   $excludesFile = joinPath "~" $excludesFile -}}
{{- else -}}
{{-   $excludesFile = "" -}}
{{- end -}}

{{- if $programs.delta -}}
{{-   $corePager = $programs.delta | quote -}}
{{- else if $programs.diff_so_fancy -}}
{{-   $corePager = printf "%q | less --tabs=4 -RFX" $programs.diff_so_fancy -}}
{{- end -}}
{{- if ne (dig "github" "user" "<missing>" .) "<missing>" -}}
{{-   $githubUser = .github.user -}}
{{-   $v := dig "github" "cli_tools" nil (includeTemplate "1password_api_credentials.tmpl" . | fromJson) -}}
{{-   if $v -}}
{{-     $githubToken = $v.credential.value -}}
{{-   end -}}
{{- end -}}
{{- if $programs.interactive_rebase_tool -}}
{{-   $sequenceEditor = $programs.interactive_rebase_tool | quote }}
{{- end -}}
{{- if $programs.xdg_open -}}
{{-   $webBrowser = $programs.xdg_open | quote -}}
{{- else if $programs.macos_open -}}
{{-   $webBrowser = $programs.macos_open | quote -}}
{{- end -}}

[advice]
  skippedCherryPicks = false
  addEmptyPathspec = false
  statusHints = false

[apply]
  whitespace = nowarn

[branch]
  autosetuprebase = always
  # sort = -committerdate

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow bold
  remote = green bold
  plain = red bold

[color "status"]
  added = green
  changed = yellow bold
  untracked = white bold

[commit]
  cleanup = scissors
  verbose = true
{{- if $commitTemplate }}  template = {{ $commitTemplate | quote }}{{- end }}

[conflicts]
  editor = gvim

[core]
  abbrev = 12
{{- if $coreAttributesFile }}
  attributesFile = {{ $coreAttributesFile  | quote }}
{{- end }}
  autocrlf = input
  compression = -1
  editor = vim
{{- if $excludesFile }}
  excludesFile = {{ $excludesFile | quote }}
{{- end }}
  # hooksPath = ""
{{- if $corePager }}
  pager = {{ $corePager }}
{{- end }}
  precomposeUnicode = true
  safecrlf = true
  whitespace = trailing-space,tab-in-indent,cr-at-eol,space-before-tab

[credential]
  helper = cache --timeout=3600
{{- if $programs.gh }}
[credential "https://github.com"]
  helper = !{{ $programs.gh }} auth git-credential

[credential "https://gist.github.com"]
  helper = !{{ $programs.gh }} auth git-credential
{{- end }}

[feature]
  manyFiles = true

[fetch]
  recurseSubmodules = on-demand
  prune = true

[format]
  pretty = %C(yellow)%h%C(reset) %C(red)%ad%C(reset) | %s%d %C(green)[%aN]%C(reset)
  signOff = true

[gc]
  reflogexpire = 300
  reflogexpireunreachable = 90

{{ if $githubUser -}}
[github]
  user = {{ $githubUser | quote }}
{{- if $githubToken }}
  token = {{ $githubToken | quote }}
{{- end -}}
{{- end }}

[grep]
  extendRegexp = true
  lineNumber = true

[help]
  autocorrect = 7

[init]
  defaultBranch = main

[log]
  date = short
  decorate = auto
  showSignature = false

[pack]
  threads = 0
  writeReverseIndex = true
  useSparse = true

[pager]
  branch = false
  grep = false

[pretty]
  simple-oneline = "%C(yellow)%h%C(auto)%d %s <%C(green)%aN%C(reset)> (%C(blue)%ar%C(reset))"

[pull]
  ff = only
  rebase = true

[push]
  autoSetupRemote = true
  default = simple
  followTags = true

[rebase]
  autosquash = true
  autostash = true
  missingCommitCheck = true

[receive]
  fsckobjects = true

[stash]
  showPatch = true

[status]
  submoduleSummary = true

[submodule]
  fetchJobs = 0

[tag]
  sort = version:refname

[transfer]
  fsckobjects = true

# https://github.com/foriequal0/git-trim
[trim]
  bases = master,main,gh-pages

[versionsort]
  suffix = ""
  suffix = "-rc"
  suffix = "-pre"

# URL shorthands
[url "git@github.com:"]
  insteadOf = gh:
[url "git@gist.github.com:"]
  insteadOf = gist:
[url "git@bitbucket.org:"]
  insteadOf = bb:
# TODO: These should be chezmoi-configurable
[url "git@github.com:KineticCommerce/"]
  insteadOf = kinetic:
[url "git@github.com:KineticCommerce/"]
  insteadOf = https://github.com/KineticCommerce/
[url "git@github.com:halostatue/"]
  insteadOf = halostatue:
[url "git@github.com:halostatue/"]
  insteadOf = https://github.com/halostatue/
[url "git@github.com:mime-types/"]
  insteadOf = https://github.com/mime-types/

# TODO: Remove configuration from this file and always require per-repo
# configuration, or use include user
[user]
  useConfigOnly = true
  name = {{ .name }}
  email = {{ .email }}

{{ if $webBrowser -}}
[web]
  browser = {{ $webBrowser }}
{{- end }}

[rerere]
  enabled = true

[sendemail]
  annotate = true
  confirm = always
  thread = true
  supersscc = self

{{ if $sequenceEditor -}}
[sequence]
  editor = {{ $sequenceEditor }}
{{- end }}

{{ if lookPath "git-lfs" -}}
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
{{- end }}

[include]
  path = ~/.config/git/aliases

[include]
  path = ~/.config/git/diff-merge

[include]
  path = ~/.config/git/signatures

{{/* vim: set filetype=gitconfig: */}}
