{{- /* Initialize variables for use in this file */ -}}
{{- $has := includeTemplate "programs" . | fromJson -}}

[diff]
  algorithm = histogram
  colorMoved = plain
  colorMovedWS = allow-indentation-change
  context = 5
  compactionHeuristic = true
  indentHeuristic = true
  mnemonicprefix = true
  renameLimit = 8192
  renames = copies
  submodule = log

[merge]
  log = true
  conflictstyle = zdiff3
  ff = only

[difftool]
  prompt = false

[mergetool]
  keepBackup = false
  prompt = false

[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario)[ \t].*)$"

[diff "lisp"]
  xfuncname = "^(\\(.*)$"
  # xfuncname = "^(\\((cl-)?def(un|macro|method).*)$"

[diff "swift"]
  xfuncname = ^[ \t]*((class|func)[ \t].*)$

[diff "orgmode"]
  xfuncname = "^(\\*+.*)$"

[diff "rstats"]
  xfuncname = "^([a-zA-z.]+ <- function.*)$"

[diff "texinfo"]
  # from http://git.savannah.gnu.org/gitweb/?p=coreutils.git;a=blob;f=.gitattributes;h=c3b2926c78c939d94358cc63d051a70d38cfea5d;hb=HEAD
  xfuncname = "^@node[ \t][ \t]*\\([^,][^,]*\\)"

{{ if $has.ksdiff -}}
[diff]
  guitool = {{ $has.ksdiff }}

[difftool "ksdiff"]
  cmd = {{ $has.ksdiff }} --partial-changeset --relative-path "${MERGED}" -- "${LOCAL}" "${REMOTE}"

[mergetool "ksdiff"]
  cmd = {{ $has.ksdiff }} --merge --output "${MERGED}" --base "${BASE}" -- "${LOCAL}" --snapshot "${REMOTE}" --snapshot
  trustExitCode = true
{{- end }}

{{ if $tool := or $has.difft $has.delta $has.icdiff -}}
[diff]
  tool = {{ quote $tool }}
{{- end }}

{{ if $has.exiftool -}}
[diff "exif"]
  binary = true
  textconv = {{ $has.exiftool }}
{{- end }}

{{ if $tool := or $has.pdftotext $has.pdfinfo -}}
{{-  if eq $tool $has.pdftotext -}}
{{-    $tool = printf "sh -c '%q -layout %q -enc UTF-8 -nopgbrk -q -'" $tool "$has.0" -}}
{{-  else -}}
{{-    $tool = quote $tool -}}
{{-  end -}}
[diff "pdf"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}
{{- end }}

{{ if $tool := or $has.djvutxt $has.pdfinfo -}}
[diff "djvu"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}
{{- end }}

{{ if $tool := or $has.odt2txt $has.pandoc -}}
{{-  if eq $tool $has.pandoc -}}
{{-    $tool = printf "%q --standalone --from=odt --to=plain" $tool -}}
{{-  else -}}
{{-    $tool = quote $tool -}}
{{-  end -}}
[diff "odt"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}
{{- end }}

{{ if $tool := or $has.wvText $has.antiword $has.catdoc -}}
{{-  if eq $tool $has.antiword -}}
{{-    $tool = printf "%q -" $tool -}}
{{-  else -}}
{{-    $tool = quote $tool -}}
{{-  end -}}
[diff "doc"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}
{{- end }}

{{ if $tool := or $has.in2csv $has.xlscat $has.soffice -}}
{{-  if eq $tool $has.xlscat -}}
{{-    $tool = printf "%q a UTF-8" $tool -}}
{{-  else if eq $tool $has.soffice -}}
{{-    $tool = printf "%q --headless --convert-to csv" $tool -}}
{{-  else -}}
{{-    $tool = quote $tool -}}
{{-  end -}}
[diff "xls"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}
{{- end }}

{{ if $tool := or $has.docx2txt_pl $has.pandoc -}}
{{-  if eq $tool $has.pandoc -}}
{{-    $tool = printf "%q --standalone --from=docx --to=plain" $tool }}
{{-  else -}}{{/* doc2txt */}}
{{-    $tool = printf "sh -c '%q %q -" $tool "$0" -}}
{{-  end -}}
[diff "docx"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}
{{- end }}

{{ if $tool := or $has.in2csv $has.soffice $has.xlsx2csv $has.xlsx2csv_py -}}
{{-  if eq $tool $has.soffice }}
{{-    $tool = printf "%q --headless --convert-to csv" $tool -}}
{{-  else -}}
{{-    $tool = quote $tool -}}
{{- end -}}
[diff "xlsx"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}
{{- end }}

{{ if $has.pptx2md -}}
{{- $cache := "~/.cache/git/presentation.md" }}
{{- $tool :=
  printf "sh -c '%s --disable_image --disable_wmf -i %s -o %s >/dev/null && cat %s"
    $has.pptx2md "$0" $cache $cache
-}}
[diff "pptx"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}
{{- end }}

{{ if $has.unrtf -}}
[diff "rtf"]
  binary = true
  cachetextconv = true
  textconv = {{ $has.unrtf }} --text
{{- end }}

{{ if $has.pandoc -}}
[diff "epub"]
  binary = true
  cachetextconv = true
  textconv = {{ $has.pandoc }} --standalone --from=epub --to=plain
{{- end }}

{{ if $has.tika -}}
# [Tika](https://tika.apache.org/download.html)
[diff "tika"]
  binary = true
  cachetextconv = true
  textconv = {{ $has.tika }} --text
{{- end }}

{{ if $has.soffice -}}
[diff "libreoffice"]
  binary = true
  cachetextconv = true
  textconv = {{ $has.soffice }} --cat
{{- end }}

{{ if $has.catppt -}}
[diff "ppt"]
  binary = true
  cachetextconv = true
  textconv = {{ $has.catppt }}
{{- end }}

{{ if $has.delta -}}

[difftool "delta"]
  cmd = {{ $has.delta }} "${LOCAL}" "${REMOTE}" "${MERGED}"
{{- end }}

{{ if $has.difft -}}
[difftool "difft"]
  cmd = {{ $has.difft }} "${LOCAL}" "${REMOTE}"
{{- end }}

{{ if $has.icdiff -}}
[difftool "icdiff"]
  cmd = {{ $has.icdiff }} --line-numbers "${LOCAL}" "${REMOTE}"
{{- end }}

{{ if $tool := or $has.gvim $has.mvim -}}
[mergetool "gvim"]
  cmd = {{ quote $tool }} -d --nofork "${LOCAL}" "${MERGED}" "${REMOTE}"
  trustExitCode = true

# Need a new release of MacVim to use Splice9
# [mergetool "splice"]
#   cmd = {{ quote $tool }} --nofork "${BASE}" "${LOCAL}" "${REMOTE}" "${MERGED}" -c Splice9Init
#   trustExitCode = true
{{- end }}

{{ if $has.vim -}}
[mergetool "vimdiff"]
  cmd = {{ $has.vim }} -d "${LOCAL}" "${MERGED}" "${REMOTE}"
  trustExitCode = true

[mergetool "conflicted"]
  cmd = {{ $has.vim }} +Conflicted
  trustExitCode = true

[merge]
  tool = vimdiff
{{- end }}

{{/* vim: set filetype=gitconfig.chezmoitmpl */}}
