{{- /* Initialize variables for use in this file */ -}}
{{- $programs := includeTemplate "programs.tmpl" . | fromJson -}}

{{- /* Set the values */ -}}
{{- $diffGuitool := or $programs.ksdiff "" -}}
{{- $diffTool := or $programs.difftastic $programs.delta $programs.icdiff -}}
{{- $gvimCommand := or $programs.gvim $programs.mvim -}}

[diff]
  algorithm = histogram
  colorMoved = dimmed-zebra # zebra
  compactionHeuristic = true
  indentHeuristic = true
  mnemonicprefix = true
  renameLimit = 8192
  renames = copies
  submodule = log
{{- if $diffGuitool }}
  guitool = {{ $diffGuitool | quote }}
{{- end }}
{{- if $diffTool }}
  tool = {{ $diffTool | quote }}
{{- end }}

[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario)[ \t].*)$"

[diff "lisp"]
  xfuncname = "^(\\(.*)$"
  # xfuncname = "^(\\((cl-)?def(un|macro|method).*)$"

[diff "swift"]
  xfuncname = ^[ \t]*((class|func)[ \t].*)$

[diff "orgmode"]
  xfuncname = "^(\\*+.*)$"

[diff "rstats"]
  xfuncname = "^([a-zA-z.]+ <- function.*)$"

[diff "texinfo"]
  # from http://git.savannah.gnu.org/gitweb/?p=coreutils.git;a=blob;f=.gitattributes;h=c3b2926c78c939d94358cc63d051a70d38cfea5d;hb=HEAD
  xfuncname = "^@node[ \t][ \t]*\\([^,][^,]*\\)"
{{ if $programs.exiftool -}}

[diff "exif"]
  binary = true
  textconv = {{ $programs.exiftool }}
{{- end }}
{{ if or $programs.pdfinfo $programs.pdftotext -}}

[diff "pdf"]
  binary = true
  cachetextconv = true
  textconv = {{ if $programs.pdftotext -}}
                sh -c '{{ $programs.pdftotext | quote }} -layout "$programs.0" -enc UTF-8 -nopgbrk -q -'
             {{- else -}}
                {{ $programs.pdfinfo | quote }}
            {{- end -}}
{{- end }}
{{ if or $programs.djvutxt $programs.pdfinfo -}}

[diff "djvu"]
  binary = true
  cachetextconv = true
  textconv = {{ if $programs.djvutxt -}}
                {{ $programs.djvutxt | quote }}
             {{- else -}}
                {{ $programs.pdfinfo | quote }}
             {{- end -}}
{{ end }}
{{ if or $programs.odt2txt $programs.pandoc -}}

[diff "odt"]
  binary = true
  cachetextconv = true
  textconv = {{ if $programs.odt2txt -}}
                {{ $programs.odt2txt | quote }}
             {{- else -}}
                {{ $programs.pandoc | quote }} --standalone --from=odt --to=plain
             {{- end -}}
{{- end }}
{{ if or $programs.antiword $programs.catdoc $programs.wvText -}}

[diff "doc"]
  binary = true
  cachetextconv = true
  textconv = {{ if $programs.wvText -}}
                {{ $programs.wvText | quote }}
             {{- else if $programs.antiword -}}
                {{ $programs.antiword | quote }} -
             {{- else -}}
                {{ $programs.catdoc | quote }}
             {{- end -}}
{{- end }}
{{ if or $programs.in2csv $programs.soffice $programs.xlscat -}}

[diff "xls"]
  binary = true
  cachetextconv = true
  textconv = {{ if $programs.in2csv -}}
                {{ $programs.in2csv | quote }}
             {{- else if $programs.xlscat -}}
                {{ $programs.xlscat | quote }} a UTF-8
             {{- else -}}
                {{ $programs.soffice | quote }} --headless --convert-to csv
             {{- end -}}
{{- end }}
{{ if or $programs.docx2txt $programs.pandoc -}}

[diff "docx"]
  binary = true
  cachetextconv = true
  textconv = {{ if $programs.pandoc -}}
                {{ $programs.pandoc | quote }} --standalone --from=docx --to=plain
             {{- else -}}
                sh -c '{{ $programs.docx2txt | quote }} "$0" -'
             {{- end -}}
{{- end }}
{{ if or $programs.in2csv $programs.soffice $programs.xlsx2csv $programs.xlsx2csvPy -}}

[diff "xlsx"]
  binary = true
  cachetextconv = true
  textconv = {{ if $programs.xlsx2csv -}}
                {{ $programs.xlsx2csv | quote }}
             {{- else if $programs.xlsx2csvPy -}}
                {{ $programs.xlsx2csvPy | quote }}
             {{- else if $programs.in2csv -}}
                {{ $programs.in2csv | quote }}
             {{- else -}}
                {{ $programs.soffice | quote }} --headless --converto-to csv
             {{- end -}}
{{- end }}
{{ if $programs.pptx2md -}}

[diff "pptx"]
  binary = true
  cachetextconv = true
  textconv = sh -c '{{ $programs.pptx2md | quote }} --disable_image --disable_wmf -i "$0" -o ~/.cache/git/presentation.md >/dev/null && cat ~/.cache/git/presentation.md'
{{- end }}
{{ if $programs.unrtf -}}

[diff "rtf"]
  binary = true
  cachetextconv = true
  textconv = {{ $programs.unrtf | quote }} --text
{{- end }}
{{ if $programs.pandoc -}}

[diff "epub"]
  binary = true
  cachetextconv = true
  textconv = {{ $programs.pandoc | quote }} --standalone --from=epub --to=plain
{{- end }}
{{ if $programs.tika -}}

[diff "tika"]
  binary = true
  cachetextconv = true
  textconv = {{ $programs.tika | quote }} --text # [Tika](https://tika.apache.org/download.html)
{{- end }}
{{ if $programs.soffice -}}

[diff "libreoffice"]
  binary = true
  cachetextconv = true
  textconv = {{ $programs.soffice | quote }} --cat
{{- end }}
{{ if $programs.catppt -}}

[diff "ppt"]
  binary = true
  cachetextconv = true
  textconv = {{ $programs.catppt | quote }}
{{- end }}
{{ if $programs.delta -}}

[delta]
  navigate = true
  side-by-side = true
  line-numbers = true

[interactive]
  diffFilter = {{ $programs.delta | quote }} --color-only

[difftool "delta"]
  cmd = {{ $programs.delta | quote }} "${LOCAL}" "${REMOTE}" "${MERGED}"
{{ end }}

[difftool]
  prompt = false

{{ if $programs.difftastic -}}
[difftool "difftastic"]
  cmd = {{ $programs.difftastic | quote }} "${LOCAL}" "${REMOTE}"
{{- end }}
{{ if $programs.icdiff -}}

[difftool "icdiff"]
  cmd = {{ $programs.icdiff | quote }} --line-numbers "${LOCAL}" "${REMOTE}"
{{- end }}

[merge]
  log = true
  conflictstyle = zdiff3
  ff = only

[mergetool]
  keepBackup = false
  prompt = false
{{ if $gvimCommand -}}

[mergetool "gvim"]
  cmd = {{ $gvimCommand | quote }} -d --remote-wait-silent "${LOCAL}" "${MERGED}" "${REMOTE}"
  trustExitCode = true
{{- end }}
{{ if $programs.vim -}}

[mergetool "vimdiff"]
  cmd = {{ $programs.vim | quote }} -d "${LOCAL}" "${MERGED}" "${REMOTE}"
  trustExitCode = true
{{- end }}
{{ if $programs.ksdiff -}}

[difftool "ksdiff"]
  cmd = {{ $programs.ksdiff | quote }} --partial-changeset --relative-path "${MERGED}" -- "${LOCAL}" "${REMOTE}"

[mergetool "ksdiff"]
  cmd = {{ $programs.ksdiff | quote }} --merge --output "${MERGED}" --base "${BASE}" -- "${LOCAL}" --snapshot "${REMOTE}" --snapshot
  trustExitCode = true
{{- end }}

# vim: ft=gitconfig
