{{- /* Initialize variables for use in this file */ -}}
{{- $programs := includeTemplate "programs.tmpl" . | fromJson -}}
{{- $colorMoved := "zebra" -}}
{{- if $programs.delta -}}{{- $colorMoved = "default" -}}{{- end -}}

[diff]
  algorithm = histogram
  colorMoved = {{ $colorMoved }}
  colorMovedWS = allow-indentation-change
  context = 5
  compactionHeuristic = true
  indentHeuristic = true
  mnemonicprefix = true
  renameLimit = 8192
  renames = copies
  submodule = log

[merge]
  log = true
  conflictstyle = zdiff3
  ff = only

[difftool]
  prompt = false

[mergetool]
  keepBackup = false
  prompt = false

[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario)[ \t].*)$"

[diff "lisp"]
  xfuncname = "^(\\(.*)$"
  # xfuncname = "^(\\((cl-)?def(un|macro|method).*)$"

[diff "swift"]
  xfuncname = ^[ \t]*((class|func)[ \t].*)$

[diff "orgmode"]
  xfuncname = "^(\\*+.*)$"

[diff "rstats"]
  xfuncname = "^([a-zA-z.]+ <- function.*)$"

[diff "texinfo"]
  # from http://git.savannah.gnu.org/gitweb/?p=coreutils.git;a=blob;f=.gitattributes;h=c3b2926c78c939d94358cc63d051a70d38cfea5d;hb=HEAD
  xfuncname = "^@node[ \t][ \t]*\\([^,][^,]*\\)"

{{ if $programs.ksdiff -}}
[diff]
  guitool = {{ $programs.ksdiff }}

[difftool "ksdiff"]
  cmd = {{ $programs.ksdiff }} --partial-changeset --relative-path "${MERGED}" -- "${LOCAL}" "${REMOTE}"

[mergetool "ksdiff"]
  cmd = {{ $programs.ksdiff }} --merge --output "${MERGED}" --base "${BASE}" -- "${LOCAL}" --snapshot "${REMOTE}" --snapshot
  trustExitCode = true

{{ end -}}

{{- if $tool := or $programs.difftastic $programs.delta $programs.icdiff -}}
[diff]
  tool = {{ quote $tool }}

{{ end -}}

{{ if $programs.exiftool -}}
[diff "exif"]
  binary = true
  textconv = {{ $programs.exiftool }}

{{ end -}}

{{- if $tool := or $programs.pdftotext $programs.pdfinfo -}}
{{-  if eq $tool $programs.pdftotext -}}
{{-    $tool = printf "sh -c '%q -layout %q -enc UTF-8 -nopgbrk -q -'" $tool "$programs.0" -}}
{{-  else -}}
{{-    $tool = quote $tool -}}
{{-  end -}}
[diff "pdf"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}

{{ end -}}

{{ if $tool := or $programs.djvutxt $programs.pdfinfo -}}
[diff "djvu"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}

{{ end -}}

{{ if $tool := or $programs.odt2txt $programs.pandoc -}}
{{-  if eq $tool $programs.pandoc -}}
{{-    $tool = printf "%q --standalone --from=odt --to=plain" $tool -}}
{{-  else -}}
{{-    $tool = quote $tool -}}
{{-  end -}}
[diff "odt"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}

{{ end -}}

{{ if $tool := or $programs.wvText $programs.antiword $programs.catdoc -}}
{{-  if eq $tool $programs.antiword -}}
{{-    $tool = printf "%q -" $tool -}}
{{-  else -}}
{{-    $tool = quote $tool -}}
{{-  end -}}
[diff "doc"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}

{{ end -}}

{{ if $tool := or $programs.in2csv $programs.xlscat $programs.soffice -}}
{{-  if eq $tool $programs.xlscat -}}
{{-    $tool = printf "%q a UTF-8" $tool -}}
{{-  else if eq $tool $programs.soffice -}}
{{-    $tool = printf "%q --headless --convert-to csv" $tool -}}
{{-  else -}}
{{-    $tool = quote $tool -}}
{{-  end -}}
[diff "xls"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}

{{ end -}}

{{ if $tool := or $programs.docx2txt $programs.pandoc -}}
{{-  if eq $tool $programs.pandoc -}}
{{-    $tool = printf "%q --standalone --from=docx --to=plain" $tool }}
{{-  else -}}{{/* doc2txt */}}
{{-    $tool = printf "sh -c '%q %q -" $tool "$0" -}}
{{-  end -}}
[diff "docx"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}

{{ end -}}

{{ if $tool := or $programs.in2csv $programs.soffice $programs.xlsx2csv $programs.xlsx2csvPy -}}
{{-  if eq $tool $programs.soffice }}
{{-    $tool = printf "%q --headless --convert-to csv" $tool -}}
{{-  else -}}
{{-    $tool = quote $tool -}}
{{- end -}}
[diff "xlsx"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}

{{ end -}}

{{ if $programs.pptx2md -}}
{{- $cache := "~/.cache/git/presentation.md" }}
{{- $tool :=
  printf "sh -c '%s --disable_image --disable_wmf -i %s -o %s >/dev/null && cat %s"
    $programs.pptx2md "$0" $cache $cache
-}}
[diff "pptx"]
  binary = true
  cachetextconv = true
  textconv = {{ $tool }}

{{ end -}}

{{ if $programs.unrtf -}}
[diff "rtf"]
  binary = true
  cachetextconv = true
  textconv = {{ $programs.unrtf }} --text

{{ end -}}

{{ if $programs.pandoc -}}
[diff "epub"]
  binary = true
  cachetextconv = true
  textconv = {{ $programs.pandoc }} --standalone --from=epub --to=plain

{{ end -}}

{{ if $programs.tika -}}
# [Tika](https://tika.apache.org/download.html)
[diff "tika"]
  binary = true
  cachetextconv = true
  textconv = {{ $programs.tika }} --text

{{ end -}}

{{ if $programs.soffice -}}
[diff "libreoffice"]
  binary = true
  cachetextconv = true
  textconv = {{ $programs.soffice }} --cat

{{ end -}}

{{ if $programs.catppt -}}
[diff "ppt"]
  binary = true
  cachetextconv = true
  textconv = {{ $programs.catppt }}

{{ end -}}

{{ if $programs.delta -}}
[delta]
  dark = true
  syntax-theme = OneHalfDark
  features = side-by-side unobtrusive-line-numbers decorations
  navigate = true
  line-numbers = true
  zero-style = dim syntax

[delta "side-by-side"]
  side-by-side = true

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "unobtrusive-line-numbers"]
  line-numbers = true
  line-numbers-minus-style = "#444444"
  line-numbers-zero-style = "#444444"
  line-numbers-plus-style = "#444444"
  line-numbers-left-format = "{nm:>4}┊"
  line-numbers-right-format = "{np:>4}│"
  line-numbers-left-style = blue
  line-numbers-right-style = blue

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = yellow box

[interactive]
  diffFilter = {{ $programs.delta }} --color-only --features=interactive

[difftool "delta"]
  cmd = {{ $programs.delta }} "${LOCAL}" "${REMOTE}" "${MERGED}"

{{ end -}}

{{ if $programs.difftastic -}}
[difftool "difftastic"]
  cmd = {{ $programs.difftastic }} "${LOCAL}" "${REMOTE}"

{{ end -}}

{{ if $programs.icdiff -}}
[difftool "icdiff"]
  cmd = {{ $programs.icdiff }} --line-numbers "${LOCAL}" "${REMOTE}"

{{ end -}}

{{ if $tool := or $programs.gvim $programs.mvim -}}
[mergetool "gvim"]
  cmd = {{ quote $tool }} -d --nofork "${LOCAL}" "${MERGED}" "${REMOTE}"
  trustExitCode = true

# Need a new release of MacVim to use Splice9
# [mergetool "splice"]
#   cmd = {{ quote $tool }} --nofork "${BASE}" "${LOCAL}" "${REMOTE}" "${MERGED" -c Splice9Init
#   trustExitCode = true

{{ end -}}

{{ if $programs.vim -}}
[mergetool "vimdiff"]
  cmd = {{ $programs.vim }} -d "${LOCAL}" "${MERGED}" "${REMOTE}"
  trustExitCode = true

{{ end -}}

# vim: ft=gitconfig
