# chezmoi:template:left-delimiter="# [:" right-delimiter=":]"
# vim: ft=bash

# NOTE: This is *not* a shell script, even though it looks like one. It
# only reads lines that *begin* with `HOMEBREW_`. See
# https://github.com/Homebrew/brew/blob/master/bin/brew#L104-L114

HOMEBREW_BAT=1

# HOMEBREW_ALLOWED_TAPS
# A space-separated list of taps. Homebrew will refuse to install a formula
# unless it and all of its dependencies are in an official tap or in a tap on
# this list.
#
# HOMEBREW_FORBIDDEN_CASKS
# A space-separated list of casks. Homebrew will refuse to install a cask if it
# or any of its dependencies is on this list.
#
# HOMEBREW_FORBIDDEN_FORMULAE
# A space-separated list of formulae. Homebrew will refuse to install a formula
# or cask if it or any of its dependencies is on this list.
#
# HOMEBREW_FORBIDDEN_LICENSES
# A space-separated list of licenses. Homebrew will refuse to install a formula
# if it or any of its dependencies has a license on this list.
#
# HOMEBREW_FORBIDDEN_OWNER
# The person who has set any HOMEBREW_FORBIDDEN_* variables.
#
# HOMEBREW_FORBIDDEN_OWNER_CONTACT
# How to contact the HOMEBREW_FORBIDDEN_OWNER, if set and necessary.
#
# HOMEBREW_FORBIDDEN_TAPS
# A space-separated list of taps. Homebrew will refuse to install a formula if
# it or any of its dependencies is in a tap on this list.

HOMEBREW_CLEANUP_MAX_AGE_DAYS=30
HOMEBREW_DISPLAY_INSTALL_TIMES=1

HOMEBREW_GITHUB_API_TOKEN=# [: onepasswordRead "op://Personal/homebrew-github-api/credential" .onepassword.personal | quote :]

HOMEBREW_NO_ANALYTICS=1
HOMEBREW_NO_EMOJI=1
HOMEBREW_NO_ENV_HINTS=1

# HOMEBREW_NO_CLEANUP_FORMULAE
# A comma-separated list of formulae. Homebrew will refuse to clean up or
# autoremove a formula if it appears on this list.

HOMEBREW_NO_INSECURE_REDIRECT=1

# HOMEBREW_NO_AUTO_UPDATE=1
# HOMEBREW_NO_GITHUB_API=1

# HOMEBREW_VERIFY_ATTESTATIONS=1
