#!/bin/sh

gh extension install advanced-security/gh-sbom
gh extension install amenocal/gh-pin-actions
gh extension install andyfeller/gh-ssh-allowed-signers
gh extension install dlvhdr/gh-dash
gh extension install github/gh-codeql
gh extension install halostatue/gh-merge-upstream
gh extension install LangLangBart/gh-look
gh extension install Legit-Labs/gh-legitify
gh extension install meiji163/gh-notify
gh extension install mislav/gh-branch
gh extension install mislav/gh-cp
gh extension install mislav/gh-repo-collab
gh extension install samcoe/gh-repo-explore
gh extension install samcoe/gh-triage
gh extension install seachicken/gh-poi
gh extension install taiki45/gh-action-version
gh extension install twelvelabs/gh-repo-config
gh extension install valeriobelli/gh-milestone
